@import url("//hello.myfonts.net/count/2cbcce");
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Reset
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

[hidden] {
  display: none; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Breakers-Regular';
  src: url("../fonts/2CBCCE_0_0.eot");
  src: url("../fonts/2CBCCE_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CBCCE_0_0.woff2") format("woff2"), url("../fonts/2CBCCE_0_0.woff") format("woff"), url("../fonts/2CBCCE_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Breakers-Bold';
  src: url("../fonts/2CBCCE_1_0.eot");
  src: url("../fonts/2CBCCE_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CBCCE_1_0.woff2") format("woff2"), url("../fonts/2CBCCE_1_0.woff") format("woff"), url("../fonts/2CBCCE_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Suffoca-Icons';
  src: url("../fonts/Suffoca-Icons.eot?-xdq23p");
  src: url("../fonts/Suffoca-Icons.eot?#iefix-xdq23p") format("embedded-opentype"), url("../fonts/Suffoca-Icons.woff?-xdq23p") format("woff"), url("../fonts/Suffoca-Icons.ttf?-xdq23p") format("truetype"), url("../fonts/Suffoca-Icons.svg?-xdq23p#Suffoca-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Suffoca-Icons';
  font-size: 2em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-face:before {
  content: "\e600"; }

.icon-mail:before {
  content: "\e002"; }

.icon-left:before {
  content: "\e094"; }

.icon-right:before {
  content: "\e095"; }

.icon-up:before {
  content: "\e096"; }

.icon-down:before {
  content: "\e097"; }

.icon-max:before {
  content: "\e112"; }

.icon-min:before {
  content: "\e113"; }

.icon-plus:before {
  content: "\e114"; }

.icon-minus:before {
  content: "\e115"; }

.icon-close:before {
  content: "\e117"; }

.icon-menu:before {
  content: "\e120"; }

.icon-launch:before {
  content: "\e128"; }

.icon-signature:before {
  content: "\e607"; }

.icon-suffoca:before {
  content: "\e608"; }

.icon-cart:before {
  content: "\e601"; }

p.intro {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 1.2500em; }
  @media screen and (min-width: 50em) {
    p.intro {
      font-size: 1.5000em;
      /* 22.5px */
      line-height: 1.5em;
      /* 25px */
      margin-top: 1.1111em;
      margin-bottom: 1.1111em; } }

blockquote {
  font-style: italic;
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-style: italic;
  font-weight: 400;
  padding: 0 0 0 2em;
  margin: 2em 0 2em; }
  @media screen and (min-width: 50em) {
    blockquote {
      font-size: 1.25em; } }

blockquote:before {
  content: "\201c";
  font-size: 5em;
  text-indent: -1.25em;
  margin-top: .25em;
  float: left; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 50em) {
    figcaption {
      font-size: 1em; } }

/*
 * Layout
 */
/*
 * Includes
 */
/* =========================== Header */
#header a {
  text-decoration: none; }
#header #toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 1000; }
#header #logotype {
  display: block;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  padding: .25rem 0;
  letter-spacing: .05rem; }
  #header #logotype span {
    font-size: 4rem;
    margin: 0;
    line-height: 4rem; }
#header #cart {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  z-index: 1000; }

/* =========================== Navigation */
#primary {
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  #primary.fixed {
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    background-color: white; }
  #primary.open {
    bottom: 0;
    opacity: 1;
    z-index: 2; }
  #primary ul {
    width: 100%; }
  #primary li {
    width: 100%; }
    @media screen and (min-width: 43.75em) {
      #primary li {
        width: 25%; } }

/* =========================== Footer */
#footer {
  background-color: #151515;
  color: #eeeeee;
  padding: 4rem;
  text-align: center; }
  #footer #signature span {
    font-size: 6rem; }

/*
 *
 * Index
 *
 */
/* =========================== Filters List */
.filters dt, .filters dd {
  float: left;
  padding: 1rem; }

/* =========================== Post Grid */
.posts {
  margin: 0;
  padding: 0; }
  .posts li {
    position: relative;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #eeeeee;
    box-sizing: border-box;
    overflow: hidden; }
    @media screen and (min-width: 43.75em) {
      .posts li {
        width: 50%; } }
    @media screen and (min-width: 62.5em) {
      .posts li {
        width: 33.333%; } }
    @media screen and (min-width: 125em) {
      .posts li {
        width: 25%; } }
    .posts li img {
      position: absolute;
      min-height: 100%;
      z-index: 0; }
    .posts li a {
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      position: relative;
      z-index: 2;
      display: block;
      border: 5px solid white;
      color: white;
      margin: 8rem;
      padding: 1em;
      text-decoration: none;
      opacity: .5; }
      .posts li a h6 {
        margin: 1em 0; }
    .posts li:hover a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.75); }

/* =========================== Pagination / Loading */
#load {
  display: block;
  text-align: center;
  margin: 4rem auto; }

/*
 *
 * Shop
 *
 */
/*
 *
 * Category View
 *
 */
/*
 *
 * Global Elements
 *
 */
/* =========================== Navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  nav ul li {
    margin: 0; }
nav a {
  text-decoration: none; }

/* =========================== Lists */
/* =========================== Links */
a {
  color: #d7be5a; }
  a:hover {
    color: #151515; }
  a:active {
    color: black; }
  a:visited {
    color: #151515; }

/* =========================== Buttons and Inputs */
button, input[type=submit] {
  font-family: 'Breakers-Bold',helvetica,arial,sans-serif;
  font-size: 1rem;
  padding: 1rem 1.33333rem;
  background-color: #d7be5a;
  color: black;
  text-transform: uppercase;
  letter-spacing: .1em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
  border-radius: .5em;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s; }
  button:hover, input[type=submit]:hover {
    background-color: #e1ce83; }
  button:active, input[type=submit]:active {
    color: white;
    background-color: #ccad32; }

/* =========================== Forms and Labels */
label {
  float: left;
  text-align: right;
  margin-right: 1em; }

.full-screen, .full-width {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  min-height: 37.5em;
  text-align: center; }
  .full-screen > section, .full-width > section {
    margin: auto;
    max-width: 50em;
    padding: 4rem 8rem;
    border: 5px solid white;
    color: white;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat; }

.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px; }

.vertically-centered {
  margin: auto; }

article {
  width: 100%;
  float: left; }
  article header {
    width: 100%;
    padding: 1em; }
  article section {
    padding: 1em;
    max-width: 50em;
    margin: 0 auto; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  position: relative;
  float: left;
  width: 100%; }

.nontouchnav {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: .25em 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden; }
  @media screen and (min-width: 62.5em) {
    .nontouchnav {
      display: block; } }
  .nontouchnav div {
    position: absolute;
    color: #888888;
    width: 1.5em;
    cursor: pointer;
    text-align: center;
    top: 0;
    bottom: 0;
    padding-top: 27%;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
    .nontouchnav div:hover {
      background-color: rgba(255, 255, 255, 0.75);
      opacity: 0.5;
      color: black;
      -webkit-transition-duration: .25s;
      -moz-transition-duration: .25s;
      -ms-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s; }
  .nontouchnav .prev {
    left: 0; }
  .nontouchnav .next {
    right: 0; }

/*! responsive-nav.js v1.0.15 by @viljamis */
.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

#info-1.opened {
  max-height: 9999px;
  padding: 0 0 6em 0; }

.expand {
  font-weight: bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer; }

a.closed {
  transition: 2s; }

a.opened {
  display: block;
  font-size: 1.1em;
  /* Safari */
  -webkit-transform: rotateY(-180deg);
  -webkit-transform: rotateZ(-45deg);
  /* Firefox */
  -moz-transform: rotateZ(-45deg);
  /* IE */
  -ms-transform: rotateZ(-45deg);
  /* Opera */
  -o-transform: rotateZ(-45deg); }

body {
  font-family: "Breakers-Regular", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #444444;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 1rem; }

/**
 * Images
 */
img {
  display: block;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  vertical-align: middle; }

img.half {
  width: 50%;
  float: left; }

img + h1, img + h2, img + h3 {
  margin-top: 1em; }

img + p {
  margin-top: 2em; }

p + img {
  margin-top: 2em; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 0.875rem; }

/**
 * Lists
 */
ul, ol {
  margin-left: 2rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1, h2, h3 {
  font-family: 'Breakers-Bold',helvetica,arial,sans-serif; }

h1 {
  font-size: 1.25em; }
  @media screen and (min-width: 31.25em) {
    h1 {
      font-size: 1.5em; } }
  @media screen and (min-width: 43.75em) {
    h1 {
      font-size: 2em; } }
  @media screen and (min-width: 87.5em) {
    h1 {
      font-size: 3em; } }

h2 {
  text-align: center;
  font-size: 1.5em; }
  @media screen and (min-width: 43.75em) {
    h2 {
      font-size: 1.75em; } }
  @media screen and (min-width: 87.5em) {
    h2 {
      font-size: 2em; } }

h3 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 800;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #eeeeee; }

h4 {
  font-size: 1em;
  font-weight: 600; }

h5 {
  font-size: 1em;
  font-weight: 600; }

h6 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .9em; }

/**
 * Links
 */
a {
  color: black;
  text-decoration: underline; }
  a:visited {
    text-decoration: line-through !important; }
  a:hover {
    color: #444444; }

/**
 * Blockquotes
 */
blockquote {
  font-family: georgia,times,serif;
  color: #888888;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: .01em;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Figures
 */
figure {
  display: block;
  background-color: white;
  border-top: 0.25rem solid white;
  border-left: 0.25rem solid white;
  border-right: 0.25rem solid white;
  box-shadow: 0px 0px 1px #888888;
  margin: 4em auto;
  padding: 0 !important;
  max-width: 31.25em !important; }
  figure img {
    margin: 0 auto;
    width: 100%; }
  figure figcaption {
    font-family: courier,georgia,serif;
    display: block;
    padding: .5em; }
    figure figcaption p {
      margin-bottom: 0; }

/**
 * Clearfix
 */
#header:after, .filters:after, .posts:after, ul:after {
  content: "";
  display: table;
  clear: both; }

figure {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%; }

.device {
  display: block;
  border: 1em solid black;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  margin: 2em auto;
  box-sizing: border-box;
  width: 80%; }
  @media screen and (min-width: 43.75em) {
    .device {
      border: 3em solid black;
      border-radius: 3em;
      -webkit-border-radius: 3em;
      -moz-border-radius: 3em; } }

.device {
  max-width: 75em; }

#site-header {
  position: fixed;
  z-index: 0;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  max-width: 18.75em;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  #site-header #logo {
    font-size: 6em;
    text-decoration: none;
    margin: 0;
    padding: .25em; }
  #site-header a {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
  #site-header nav {
    border-top: 1px solid #eeeeee; }
    #site-header nav a {
      display: block;
      padding: 1em;
      border-bottom: 1px solid #eeeeee; }

#site-header.closed {
  left: 0; }
  #site-header.closed a {
    -ms-transform: scale(0.85);
    /* IE 9 */
    -webkit-transform: scale(0.85);
    /* Chrome, Safari, Opera */
    transform: scale(0.85); }

#site-header.open {
  left: 0;
  -ms-transform: scale(1, 1);
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Chrome, Safari, Opera */
  transform: scale(1, 1); }

#main {
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }

#main.closed {
  margin-left: 18.75em; }

#main.open {
  margin-left: 0; }

.overflow-hidden {
  overflow: hidden; }

#primary {
  font-weight: bold;
  font-size: 1em;
  padding: 4rem; }
  #primary ul {
    width: 100%;
    max-width: 37.5em;
    margin: 0 auto;
    font-size: 1em; }
    #primary ul li {
      float: left;
      padding: 0;
      margin: 0;
      text-align: center; }
    #primary ul a {
      display: block;
      padding: 1em; }

#breadcrumb {
  position: absolute;
  top: 0;
  left: 0; }
  #breadcrumb a {
    display: block;
    padding: 1em;
    float: left;
    cursor: pointer;
    text-decoration: none; }

#name {
  letter-spacing: .1em;
  padding: 1.25em 1em !important; }

#contact {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  padding: 1em;
  cursor: pointer;
  text-decoration: none; }

#search-btn {
  position: absolute;
  right: 0;
  top: 0; }

#search-wrap {
  width: 90%;
  float: left;
  background: #eeeeee;
  padding: 1em 5%; }
  #search-wrap label {
    display: none; }
  #search-wrap .search-field {
    width: 75%;
    margin: 0;
    border: 0; }
  #search-wrap .search-submit {
    width: 20%;
    margin: 0;
    border: 0; }

#logo {
  font-size: 10em;
  display: block;
  text-align: center; }

.content section {
  padding: 1.6667em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto; }

.full-width {
  padding: 0;
  width: 100%;
  margin: 1.6667em 0; }

#instagram-feed {
  position: relative;
  margin: 0;
  padding: 1.6667em;
  line-height: 1;
  text-align: center; }
  #instagram-feed .scroll-photos-btn {
    position: absolute;
    top: 19em;
    right: 0;
    padding: 1em;
    background-color: #eeeeee; }
  #instagram-feed .full-width-wrapper {
    margin-left: -1.6667em;
    margin-right: -1.6667em;
    overflow-y: scroll;
    background: #151515; }
  #instagram-feed iframe {
    padding: 0;
    margin: 0; }

#map {
  text-align: center; }
  #map iframe {
    padding: 1.6667em 5%;
    width: 90%;
    height: 30em; }

@media screen and (min-width: 56.25em) {
  .centered-text {
    width: 50em;
    margin: 0 auto; } }

.texture {
  background: url(../images/header/texture.png);
  position: relative; }

.logo {
  font-size: 11em;
  text-align: center;
  padding: 0;
  width: 100%; }
  @media screen and (min-width: 56.25em) {
    .logo {
      font-size: 15em; } }
  .logo span {
    display: block;
    padding: .1em 0; }

@media screen and (min-width: 56.25em) {
  #introtext {
    width: 50em;
    margin: 0 auto; } }

#site-footer {
  float: left;
  width: 90%;
  text-align: center;
  padding: 1em 0;
  margin: 0 5%;
  border-top: 1px solid black; }
  #site-footer #contact {
    padding: 0 1.6667em 1.6667em 1.6667em;
    margin: 0 0 1.6667em 0;
    border-bottom: 1px dotted #8e8e8e; }
    @media screen and (min-width: 50em) {
      #site-footer #contact {
        width: 40%;
        padding: 0 5%;
        float: left;
        border-bottom: none;
        border-right: 1px dotted #8e8e8e; } }
    #site-footer #contact ul {
      color: #444444;
      font-size: 1em; }
      #site-footer #contact ul [class*="icon-"] {
        margin-left: .5em; }
    #site-footer #contact li {
      float: left;
      text-align: center;
      margin: 1em 0;
      width: 20%; }
      #site-footer #contact li a {
        text-decoration: none; }
  #site-footer #newsletter {
    padding: 0 1.6667em 1.6667em 1.6667em;
    margin: 0 0 1.6667em 0; }
    @media screen and (min-width: 50em) {
      #site-footer #newsletter {
        width: 39%;
        padding: 0 5%;
        float: left; } }
  #site-footer #copyright {
    width: 100%; }

input {
  margin: 1em 0;
  outline: none;
  padding: 1em 0;
  font-size: 1em; }

input[type="text"] {
  width: 60%;
  background: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1em 5%;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s; }

input[type="submit"], .inline-button {
  color: white;
  padding: 1em 0;
  text-align: center;
  width: 25%;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700; }

#logo-home {
  font-size: 10em;
  margin: 0 0 .25em 0;
  text-align: center; }

#website-list h3 {
  font-size: 2em;
  padding: 0;
  margin: .5em 0; }
#website-list li {
  margin: 0;
  padding: 0; }
#website-list a {
  color: white;
  display: block;
  padding: 0 2em .5em 2em;
  border-bottom: 1px solid #eeeeee; }
#website-list span {
  float: right; }

.post-block:nth-of-type(1) {
  width: 100% !important; }

.post-block {
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-flex;
  display: flex; }
  @media screen and (min-width: 50em) {
    .post-block {
      width: 50%;
      min-height: 25em; } }
  .post-block header {
    margin: auto;
    padding: 2em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
