@import url("//hello.myfonts.net/count/2cbcce");
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Reset
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

[hidden] {
  display: none; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/*darken($grey, 45%)*/
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Breakers-Regular';
  src: url("../fonts/2CBCCE_0_0.eot");
  src: url("../fonts/2CBCCE_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CBCCE_0_0.woff2") format("woff2"), url("../fonts/2CBCCE_0_0.woff") format("woff"), url("../fonts/2CBCCE_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Breakers-Bold';
  src: url("../fonts/2CBCCE_1_0.eot");
  src: url("../fonts/2CBCCE_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CBCCE_1_0.woff2") format("woff2"), url("../fonts/2CBCCE_1_0.woff") format("woff"), url("../fonts/2CBCCE_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Suffoca-Icons';
  src: url("../fonts/Suffoca-Icons.eot?-xdq23p");
  src: url("../fonts/Suffoca-Icons.eot?#iefix-xdq23p") format("embedded-opentype"), url("../fonts/Suffoca-Icons.woff?-xdq23p") format("woff"), url("../fonts/Suffoca-Icons.ttf?-xdq23p") format("truetype"), url("../fonts/Suffoca-Icons.svg?-xdq23p#Suffoca-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Suffoca-Icons';
  font-size: 1.5rem;
  letter-spacing: .5rem;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\e602"; }

.icon-vimeo:before {
  content: "\e603"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-youtube:before {
  content: "\f167"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-tumblr:before {
  content: "\f173"; }

.icon-cart:before {
  content: "\e601"; }

.icon-eye:before {
  content: "\e000"; }

.icon-mail:before {
  content: "\e002"; }

.icon-image:before {
  content: "\e010"; }

.icon-camera:before {
  content: "\e017"; }

.icon-play:before {
  content: "\e052"; }

.icon-pause:before {
  content: "\e053"; }

.icon-stop:before {
  content: "\e054"; }

.icon-fast-forward:before {
  content: "\e055"; }

.icon-download:before {
  content: "\e069"; }

.icon-location:before {
  content: "\e070"; }

.icon-location-2:before {
  content: "\e071"; }

.icon-map:before {
  content: "\e072"; }

.icon-tag:before {
  content: "\e085"; }

.icon-left:before {
  content: "\e094"; }

.icon-right:before {
  content: "\e095"; }

.icon-up:before {
  content: "\e096"; }

.icon-down:before {
  content: "\e097"; }

.icon-max:before {
  content: "\e112"; }

.icon-min:before {
  content: "\e113"; }

.icon-plus:before {
  content: "\e114"; }

.icon-minus:before {
  content: "\e115"; }

.icon-close:before {
  content: "\e117"; }

.icon-menu:before {
  content: "\e120"; }

.icon-launch:before {
  content: "\e128"; }

.icon-logo-face:before {
  content: "\e600"; }

.icon-signature:before {
  content: "\e607"; }

.icon-suffoca:before {
  content: "\e608"; }

p.intro {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 1.2500em; }
  @media screen and (min-width: 50em) {
    p.intro {
      font-size: 1.5000em;
      /* 22.5px */
      line-height: 1.5em;
      /* 25px */
      margin-top: 1.1111em;
      margin-bottom: 1.1111em; } }

blockquote {
  font-family: 'freight-text-pro',georgia,times,serif;
  font-style: italic;
  font-weight: 400;
  color: #444444;
  border-left: 0.25rem solid #d6be50;
  padding: 0 0 0 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem !important;
  letter-spacing: 0.01rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }

/**
 * Figures
 */
figure {
  display: block;
  background-color: white;
  border-top: 0.25rem solid white;
  border-left: 0.25rem solid white;
  border-right: 0.25rem solid white;
  box-shadow: 0px 0px 1px #bbbbbb;
  margin: 2rem auto;
  padding: 0 !important; }
  figure img {
    margin: 0 !important;
    width: 100%; }
  figure figcaption {
    font-family: 'freight-text-pro',georgia,times,serif;
    letter-spacing: 0.01rem;
    color: #888888;
    display: block;
    margin: 0;
    padding: 1rem; }
  figure blockquote {
    border: none;
    padding: 1rem;
    margin: 0 !important;
    color: #181818; }

/*
 * Layout
 */
/*
 * Includes
 */
/* =========================== Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: white;
  border-bottom: 1px solid #bbbbbb; }
  #header a {
    text-decoration: none; }
  #header #toggle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    z-index: 1000; }
    #header #toggle:hover #menu-text {
      opacity: 1; }
    #header #toggle .icon-logo-face {
      display: block;
      font-size: 2rem;
      transform: scale(1.15, 1.15);
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s; }
    #header #toggle #menu-text {
      position: absolute;
      left: 4.5rem;
      top: 1.5rem;
      opacity: .75;
      vertical-align: .5em;
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s; }
  #header #logotype {
    display: block;
    text-align: center;
    flex: 1;
    text-transform: uppercase;
    padding: .25rem 0;
    letter-spacing: .05rem; }
    #header #logotype h1 {
      margin: 0;
      padding: 0;
      line-height: 0; }
    #header #logotype span {
      font-size: 2rem;
      margin: 0;
      line-height: 4rem; }
  #header #cart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    z-index: 1000; }
    #header #cart #shop-link {
      margin-right: 1rem; }
    #header #cart #cart-link {
      vertical-align: -.5em; }

/* =========================== Navigation */
#primary {
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  #primary.fixed {
    position: fixed;
    top: -10rem;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    background-color: #181818;
    padding: .75rem 0 1rem;
    color: #bbbbbb; }
  #primary.open {
    top: 0;
    opacity: 1;
    z-index: 800;
    bottom: 0; }
    @media screen and (min-width: 43.75em) {
      #primary.open {
        height: 3rem;
        bottom: 100%; } }
  #primary #close-primary {
    position: absolute;
    top: 1.33333rem;
    left: 1.33333rem;
    cursor: pointer;
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s; }
    #primary #close-primary:hover {
      color: white; }
  #primary ul {
    max-width: 50em;
    margin: 0 auto; }
    @media screen and (min-width: 43.75em) {
      #primary ul {
        margin: 0 2rem 0 5rem; } }
  #primary li {
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 50%; }
    #primary li a {
      color: #bbbbbb;
      display: block;
      padding: 1em;
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s; }
      #primary li a:hover {
        color: white; }
    #primary li img {
      width: 18.75em; }
    @media screen and (min-width: 43.75em) {
      #primary li {
        width: auto; } }

/* =========================== Footer */
#footer {
  background-color: #181818;
  color: #bbbbbb;
  padding: 2rem;
  text-align: center;
  clear: both; }
  #footer #newsletter input {
    -webkit-box-sizing: border-box; }
  #footer #newsletter input[type=text] {
    color: white;
    border: 1px solid #888888;
    vertical-align: bottom; }
  #footer #newsletter input[type=submit] {
    color: black; }
  @media screen and (min-width: 62.5em) {
    #footer #newsletter {
      width: 33%;
      float: left; } }
  #footer #signature span {
    font-size: 6rem; }
  @media screen and (min-width: 62.5em) {
    #footer #signature {
      width: 33%;
      float: left; } }
  #footer #social-links a {
    display: block;
    float: left;
    text-align: center;
    margin: 0.33333rem 0 0 0;
    padding: 0.5rem 0;
    width: 50%;
    color: #bbbbbb;
    text-decoration: none; }
    #footer #social-links a:hover {
      color: white; }
  @media screen and (min-width: 62.5em) {
    #footer #social-links {
      width: 33%;
      float: left; } }
  #footer #copyright {
    color: #888888;
    padding: 2rem 0 0 0;
    width: 100%;
    clear: both; }

/*
 *
 * Index
 *
 */
/* =========================== Home Featured Post */
.featured-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem; }
  .featured-caption .icon-launch {
    font-size: 1rem; }

/* =========================== Filters List */
.filters dt, .filters dd {
  float: left;
  padding: 1rem .5rem;
  margin: 0 .5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s; }
.filters dt {
  color: #888888; }
.filters dd {
  color: #181818;
  cursor: pointer; }
  .filters dd:hover {
    color: #d6be50;
    box-shadow: #d6be50 0 5px 0; }
  .filters dd:active {
    color: black;
    box-shadow: black 0 5px 0; }

/* =========================== Post Grid */
.posts {
  margin: 0;
  padding: 0; }
  .posts li {
    position: relative;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #181818;
    box-sizing: border-box;
    overflow: hidden;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 43.75em) {
      .posts li {
        width: 50%; } }
    @media screen and (min-width: 62.5em) {
      .posts li {
        width: 33.333%; } }
    @media screen and (min-width: 125em) {
      .posts li {
        width: 25%; } }
    .posts li a {
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      position: relative;
      padding: .5rem 2rem;
      display: block;
      opacity: .5; }
      .posts li a h6 {
        margin: 1em 0;
        border: 5px solid white;
        z-index: 2;
        display: inline-block;
        padding: 1rem 2rem;
        color: white;
        margin: 8rem 1rem;
        text-decoration: none; }
    .posts li:hover a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.75); }

/* =========================== Pagination / Loading */
#load {
  display: block;
  text-align: center;
  margin: 4rem auto; }

/*
 *
 * Shop View
 *
 */
.shop-categories {
  padding: 0;
  float: left;
  width: 20%;
  margin: 0; }
  .shop-categories dt {
    color: #888888; }
  .shop-categories dt {
    padding: 0.33333rem 2rem; }
  .shop-categories dd {
    padding: 0.33333rem 2rem;
    text-transform: uppercase;
    cursor: pointer; }
    .shop-categories dd ul {
      list-style: none;
      margin: 0;
      opacity: .5; }
  .shop-categories .subcat {
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s; }
  .shop-categories .subcat.close {
    opacity: 0;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0; }

.products {
  width: 80%;
  list-style: none;
  float: left;
  margin: 0; }
  .products li {
    float: left;
    width: 33%; }
    .products li img {
      width: 100%;
      height: 100%; }
    .products li a {
      text-decoration: none;
      padding: 2rem; }
    .products li h6 {
      text-align: center; }

/*
 *
 * Product Post
 *
 */
/*
 *
 * Category View
 *
 */
/*
 *
 * Regular Post
 *
 */
article.post {
  position: relative; }
  article.post header {
    margin-top: 4rem;
    position: relative;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0;
    background-color: #181818;
    color: #f9f9f9; }
    article.post header img {
      max-width: 100%;
      margin-left: 0; }
    article.post header .post-title {
      position: relative;
      bottom: 0;
      left: 0;
      padding: 6rem 2rem 4rem; }
      article.post header .post-title .date {
        letter-spacing: .1em;
        font-size: 1em; }
      article.post header .post-title .title {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: .01em; }
      article.post header .post-title .subtitle {
        font-family: 'freight-text-pro',georgia,times,serif;
        font-size: 1.5rem;
        letter-spacing: .01em;
        font-weight: 300;
        margin-top: 0;
        -webkit-font-smoothing: antialiased; }
  article.post .tags {
    font-family: 'Breakers-Bold',helvetica,arial,sans-serif;
    float: right;
    -webkit-font-smoothing: antialiased; }
  article.post .share {
    clear: both;
    text-align: center;
    left: 2rem;
    top: 8rem;
    color: #bbbbbb;
    text-transform: uppercase;
    letter-spacing: .1em; }
    article.post .share a {
      color: #bbbbbb;
      margin: 0 0 0 .5em; }
      article.post .share a span {
        font-size: 1em; }
      article.post .share a:hover {
        color: #181818; }
  article.post .categories {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1rem;
    margin: 0;
    list-style: none; }
  article.post section.post-content {
    position: relative;
    max-width: 100%;
    padding: 1rem 0; }
  article.post .meta {
    -webkit-font-smoothing: antialiased;
    float: left;
    padding-left: 1rem; }
    article.post .meta .author {
      font-size: 1rem;
      color: #888888; }
      article.post .meta .author img {
        width: 3.25em;
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem 0 auto;
        border-radius: 50%; }
      article.post .meta .author p {
        font-size: 1em !important; }
      article.post .meta .author a {
        color: #bbbbbb;
        text-decoration: none;
        -webkit-transition-duration: .15s;
        -moz-transition-duration: .15s;
        -ms-transition-duration: .15s;
        -o-transition-duration: .15s;
        transition-duration: .15s;
        padding: .5rem 0; }
        article.post .meta .author a:hover {
          color: #d6be50;
          box-shadow: #d6be50 0 5px 0; }
        article.post .meta .author a:active {
          color: black;
          box-shadow: black 0 5px 0; }
  article.post section img {
    margin-bottom: 2rem; }
  article.post section.full-bleed {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 2rem; }
    article.post section.full-bleed img {
      width: 100%;
      max-width: 100%;
      margin: 0; }
    article.post section.full-bleed img.half {
      display: block; }
      @media screen and (min-width: 43.75em) {
        article.post section.full-bleed img.half {
          width: 50%; } }
  article.post .full-bleed + section {
    padding-top: 0; }
  article.post .contributor-links {
    list-style: none;
    margin: 0; }
    article.post .contributor-links li {
      float: left;
      padding: 0;
      margin: 0; }
    article.post .contributor-links a {
      text-decoration: none;
      box-shadow: none;
      color: #888888; }
      article.post .contributor-links a:hover {
        color: #181818; }
      article.post .contributor-links a:active {
        color: black; }
      article.post .contributor-links a:visited {
        color: #bbbbbb; }
  article.post .tags {
    list-style: none;
    margin: 0; }
    article.post .tags li {
      float: left;
      padding: 0;
      margin: 0 0.5rem 0 0; }
      article.post .tags li a {
        display: block;
        margin: 0.5rem 0;
        text-decoration: none;
        color: #bbbbbb;
        border: 0.2rem solid #bbbbbb;
        padding: .25rem .5rem;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: .01rem;
        -webkit-transition-duration: .15s;
        -moz-transition-duration: .15s;
        -ms-transition-duration: .15s;
        -o-transition-duration: .15s;
        transition-duration: .15s;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
        article.post .tags li a:hover {
          border-color: #d6be50;
          background-color: #d6be50;
          color: white; }
        article.post .tags li a:active {
          border-color: #181818;
          background-color: #181818; }
  article.post footer {
    text-align: center; }
    article.post footer section.comments {
      max-height: 0;
      overflow: hidden;
      opacity: 0; }
      article.post footer section.comments.show {
        max-height: none;
        overflow: auto;
        opacity: 1; }

.pagination {
  width: 100%;
  border-top: 1px solid #bbbbbb;
  clear: both; }
  .pagination a {
    display: block;
    float: left;
    width: 50%;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .pagination a:hover {
      color: #181818; }
    .pagination a:active {
      color: black;
      background-color: #bbbbbb; }
    .pagination a .icon-left, .pagination a .icon-right {
      vertical-align: -.25rem;
      margin: 0 1rem;
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s; }
  .pagination .prev:hover .icon-left {
    margin: 0 1.5rem 0 .5rem; }
  .pagination .next {
    border-left: 1px solid #bbbbbb; }
    .pagination .next:hover .icon-right {
      margin: 0 .5rem 0 1.5rem; }

/*
 *
 * Global Elements
 *
 */
/* =========================== Navigation */
header ul, nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  header ul li, nav ul li {
    margin: 0; }
header a, nav a {
  color: black;
  text-decoration: none; }

/* =========================== Lists */
/* =========================== Links */
a {
  color: #d6be50; }
  a:hover {
    color: #181818; }
  a:active {
    color: black; }
  a:visited {
    color: #181818; }

/* =========================== Buttons and Inputs */
input {
  margin: 1em 0;
  outline: none;
  padding: 1em 0;
  font-size: 1em; }

input[type="text"] {
  width: 60%;
  background: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1em 5%;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s; }

input[type="submit"], .inline-button {
  color: white;
  padding: 1em 0;
  text-align: center;
  width: 25%;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700; }

button, input[type=submit] {
  font-family: 'Breakers-Bold',helvetica,arial,sans-serif;
  font-size: 1rem;
  background-color: #d6be50;
  color: black;
  text-transform: uppercase;
  letter-spacing: .1em;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s; }
  button:hover, input[type=submit]:hover {
    background-color: #e0cd79; }
  button:active, input[type=submit]:active {
    color: white;
    background-color: #c5aa2e; }

button {
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
  border-radius: .5em;
  padding: 1rem 1.33333rem; }

/* =========================== Forms and Labels */
label {
  float: left;
  text-align: right;
  margin-right: 1em; }

.fluid-width-video-wrapper {
  margin-bottom: 2rem; }

.full-screen, .full-width {
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 37.5em;
  text-align: center;
  margin: 0 0 1rem 0;
  z-index: 1;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .full-screen > section, .full-width > section {
    margin: auto;
    max-width: 50em;
    padding: 4rem 8rem;
    border: 5px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 3;
    display: block;
    overflow: hidden; }
    .full-screen > section h1 .icon-suffoca, .full-width > section h1 .icon-suffoca {
      font-size: 8rem; }

.section-blur-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(20px);
  -webkit-filter: blur(20px); }

.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px; }

.vertically-centered {
  margin: auto; }

article {
  width: 100%;
  float: left; }
  article header {
    width: 100%;
    padding: 1em; }
  article section {
    padding: 1em;
    max-width: 50em;
    margin: 0 auto; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  position: relative;
  float: left;
  width: 100%; }

.nontouchnav {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: .25em 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden; }
  @media screen and (min-width: 62.5em) {
    .nontouchnav {
      display: block; } }
  .nontouchnav div {
    position: absolute;
    color: #888888;
    width: 1.5em;
    cursor: pointer;
    text-align: center;
    top: 0;
    bottom: 0;
    padding-top: 27%;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
    .nontouchnav div:hover {
      background-color: rgba(255, 255, 255, 0.75);
      opacity: 0.5;
      color: black;
      -webkit-transition-duration: .25s;
      -moz-transition-duration: .25s;
      -ms-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s; }
  .nontouchnav .prev {
    left: 0; }
  .nontouchnav .next {
    right: 0; }

/*! responsive-nav.js v1.0.15 by @viljamis */
.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

#info-1.opened {
  max-height: 9999px;
  padding: 0 0 6em 0; }

.expand {
  font-weight: bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer; }

a.closed {
  transition: 2s; }

a.opened {
  display: block;
  font-size: 1.1em;
  /* Safari */
  -webkit-transform: rotateY(-180deg);
  -webkit-transform: rotateZ(-45deg);
  /* Firefox */
  -moz-transform: rotateZ(-45deg);
  /* IE */
  -ms-transform: rotateZ(-45deg);
  /* Opera */
  -o-transform: rotateZ(-45deg); }

body {
  font-family: "Breakers-Regular", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #444444;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
article.post .share {
  margin-bottom: 1rem; }

/**
 * Images
 */
img {
  display: block;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  vertical-align: middle; }

img.half {
  width: 50%;
  float: left; }

img + h1, img + h2, img + h3 {
  margin-top: 1em; }

img + p {
  margin-top: 2em; }

p + img {
  margin-top: 2em; }

/**
 * Lists
 */
ul, ol {
  margin-left: 2rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1, h3 {
  font-family: 'Breakers-Bold',helvetica,arial,sans-serif; }

h1 {
  font-size: 2rem; }
  @media screen and (min-width: 43.75em) {
    h1 {
      font-size: 4rem; } }
  @media screen and (min-width: 87.5em) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-size: 1rem; }
  @media screen and (min-width: 43.75em) {
    h2 {
      font-size: 2rem; } }
  @media screen and (min-width: 87.5em) {
    h2 {
      font-size: 4rem; } }

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 800;
  margin-top: 2rem; }

h4 {
  font-size: 1em;
  font-weight: 600; }

h5 {
  font-size: 1em;
  font-weight: 600; }

h6 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .9em; }

/**
 * Links
 */
/**
 * Blockquotes
 */
/**
 * Clearfix
 */
#header:after, #primary ul:after, .filters:after, .posts:after, .shop-categories:after, .products:after, article.post header:after, article.post header .post-title:after, article.post .tags:after, article.post .meta .author:after, article.post section.full-bleed:after, article.post footer section.comments:after, .pagination:after, ul:after {
  content: "";
  display: table;
  clear: both; }

.device {
  display: block;
  border: 1em solid black;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  margin: 2em auto;
  box-sizing: border-box;
  width: 80%; }
  @media screen and (min-width: 43.75em) {
    .device {
      border: 3em solid black;
      border-radius: 3em;
      -webkit-border-radius: 3em;
      -moz-border-radius: 3em; } }

.device {
  max-width: 75em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
