@import url("//hello.myfonts.net/count/2cbcce");
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Reset
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

[hidden] {
  display: none; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/*darken($grey, 45%)*/
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Breakers-Regular';
  src: url("../fonts/2CBCCE_0_0.eot");
  src: url("../fonts/2CBCCE_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CBCCE_0_0.woff2") format("woff2"), url("../fonts/2CBCCE_0_0.woff") format("woff"), url("../fonts/2CBCCE_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Breakers-Bold';
  src: url("../fonts/2CBCCE_1_0.eot");
  src: url("../fonts/2CBCCE_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CBCCE_1_0.woff2") format("woff2"), url("../fonts/2CBCCE_1_0.woff") format("woff"), url("../fonts/2CBCCE_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Suffoca-Icons';
  src: url("../fonts/Suffoca-Icons.eot?-xdq23p");
  src: url("../fonts/Suffoca-Icons.eot?#iefix-xdq23p") format("embedded-opentype"), url("../fonts/Suffoca-Icons.woff?-xdq23p") format("woff"), url("../fonts/Suffoca-Icons.ttf?-xdq23p") format("truetype"), url("../fonts/Suffoca-Icons.svg?-xdq23p#Suffoca-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Suffoca-Icons';
  font-size: 1rem;
  letter-spacing: .1rem;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\e602"; }

.icon-vimeo:before {
  content: "\e603"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-youtube:before {
  content: "\f167"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-tumblr:before {
  content: "\f173"; }

.icon-cart:before {
  content: "\e601"; }

.icon-eye:before {
  content: "\e000"; }

.icon-mail:before {
  content: "\e002"; }

.icon-image:before {
  content: "\e010"; }

.icon-camera:before {
  content: "\e017"; }

.icon-play:before {
  content: "\e052"; }

.icon-pause:before {
  content: "\e053"; }

.icon-stop:before {
  content: "\e054"; }

.icon-fast-forward:before {
  content: "\e055"; }

.icon-download:before {
  content: "\e069"; }

.icon-location:before {
  content: "\e070"; }

.icon-location-2:before {
  content: "\e071"; }

.icon-map:before {
  content: "\e072"; }

.icon-tag:before {
  content: "\e085"; }

.icon-left:before {
  content: "\e094"; }

.icon-right:before {
  content: "\e095"; }

.icon-up:before {
  content: "\e096"; }

.icon-down:before {
  content: "\e097"; }

.icon-max:before {
  content: "\e112"; }

.icon-min:before {
  content: "\e113"; }

.icon-plus:before {
  content: "\e114"; }

.icon-minus:before {
  content: "\e115"; }

.icon-close:before {
  content: "\e117"; }

.icon-menu:before {
  content: "\e120"; }

.icon-launch:before {
  content: "\e128"; }

.icon-logo-face:before {
  content: "\e600"; }

.icon-signature:before {
  content: "\e607"; }

.icon-suffoca:before {
  content: "\e608"; }

p.intro {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 1.2500em; }
  @media screen and (min-width: 50em) {
    p.intro {
      font-size: 1.5000em;
      /* 22.5px */
      line-height: 1.5em;
      /* 25px */
      margin-top: 1.1111em;
      margin-bottom: 1.1111em; } }

blockquote {
  font-family: "proxima-nova", helvetica, arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  border-left: 0.25rem solid #04b3c8;
  padding: 0 0 0 2rem;
  font-size: 1.25em;
  letter-spacing: 0.01rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }

/**
 * Figures
 */
figure {
  display: block;
  background-color: white;
  border-top: 0.25rem solid white;
  border-left: 0.25rem solid white;
  border-right: 0.25rem solid white;
  box-shadow: 0px 0px 1px #bbbbbb;
  margin: 2rem auto;
  padding: 0 !important; }
  figure img {
    margin: 0 !important;
    width: 100%; }
  figure figcaption {
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    letter-spacing: 0.01rem;
    color: #888888;
    display: block;
    margin: 0;
    padding: 1rem; }
  figure blockquote {
    border: none;
    margin: 0 !important;
    color: #181818; }

/*
 * Layout
 */
/*
 * Includes
 */
/* =========================== Header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0);
  font-family: "breakers-bold", helvetica, arial, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  #header.scrolled {
    background-color: white;
    border-bottom: 1px solid #bbbbbb; }
    #header.scrolled a {
      color: rgba(0, 0, 0, 0.8); }
  #header a {
    text-decoration: none;
    color: white; }
  #header #toggle {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    width: 6em; }
    #header #toggle span.icon-menu {
      display: block;
      line-height: 1.875;
      float: left;
      margin: 0 0 0 .25em; }
    #header #toggle span#menu-text {
      float: left;
      margin: 0 .5em;
      opacity: .75;
      line-height: 2rem;
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s; }
  #header #logotype {
    padding: 0;
    letter-spacing: .05rem; }
    #header #logotype span {
      font-size: 1.5rem;
      margin: 0;
      line-height: 4rem; }
  #header #cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000; }
    #header #cart #shop-link {
      position: relative;
      line-height: 2rem;
      background-color: #ff4000;
      padding: .325em 1em .25em;
      margin-right: 2em; }
      #header #cart #shop-link:before {
        display: block;
        position: absolute;
        right: -1.5em;
        top: -.25em;
        content: ' ';
        background-image: url(../img/UI/nav/monkey.png);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 2em;
        height: 2em; }
    #header #cart #cart-link {
      display: none;
      float: right; }
      #header #cart #cart-link span.icon-cart {
        line-height: 1.35; }

/* =========================== Navigation */
#primary {
  padding: 0;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: "breakers-bold", helvetica, arial, sans-serif; }
  #primary.fixed {
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    color: #181818; }
  #primary.open {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: 1000;
    overflow-y: scroll; }
  #primary #close-primary {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 0;
    width: 2em;
    height: 2em;
    cursor: pointer;
    text-align: center;
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
    width: 5em; }
    #primary #close-primary span {
      font-size: 1.5em;
      width: 5em;
      line-height: 1.25; }
    #primary #close-primary:hover {
      color: black; }
  #primary #social-nav {
    position: fixed;
    top: 0;
    right: 0; }
    #primary #social-nav li {
      float: left;
      width: auto; }
  #primary #page-nav {
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    font-size: 3rem;
    width: 100%;
    max-width: 37.5em;
    margin: 8rem auto 4rem;
    padding: 0; }
    #primary #page-nav li {
      padding: 0;
      margin: 0;
      text-align: center; }
      #primary #page-nav li a {
        color: #181818;
        display: block;
        padding: 0em 1em;
        -webkit-transition-duration: .25s;
        -moz-transition-duration: .25s;
        -ms-transition-duration: .25s;
        -o-transition-duration: .25s;
        transition-duration: .25s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
        #primary #page-nav li a:hover {
          transform: scale(1.25);
          letter-spacing: .1em;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }
  #primary #social-nav {
    font-size: 0.875rem;
    padding: 1em; }
    #primary #social-nav a {
      display: block;
      padding: .25em .05em; }
      #primary #social-nav a:before, #primary #social-nav a:after {
        content: ' : '; }
      #primary #social-nav a:hover {
        box-shadow: 0px 2px 0 0 black; }
  #primary #search {
    width: 100%;
    max-width: 25em;
    padding: 0;
    margin: 0 auto;
    position: relative;
    font-size: 1.5em; }
    #primary #search input[type="text"] {
      width: 90%;
      margin: 1em 5%; }
    #primary #search input[type="submit"] {
      color: #888888;
      position: absolute;
      right: 5%;
      top: 0;
      background-color: rgba(0, 0, 0, 0); }
      #primary #search input[type="submit"]:hover {
        color: black; }

/* =========================== Footer */
#footer {
  display: none;
  background-color: #181818;
  color: #bbbbbb;
  padding: 2rem;
  text-align: center;
  clear: both; }
  #footer #newsletter input {
    -webkit-box-sizing: border-box; }
  #footer #newsletter input[type=text] {
    color: white;
    border: 1px solid #888888;
    vertical-align: bottom; }
  #footer #newsletter input[type=submit] {
    color: black; }
  @media screen and (min-width: 62.5em) {
    #footer #newsletter {
      width: 33%;
      float: left; } }
  #footer #signature span {
    font-size: 6rem; }
  @media screen and (min-width: 62.5em) {
    #footer #signature {
      width: 33%;
      float: left; } }
  #footer #social-links a {
    display: block;
    float: left;
    text-align: center;
    margin: 0.33333rem 0 0 0;
    padding: 0.5rem 0;
    width: 50%;
    color: #bbbbbb;
    text-decoration: none; }
    #footer #social-links a:hover {
      color: white; }
  @media screen and (min-width: 62.5em) {
    #footer #social-links {
      width: 33%;
      float: left; } }
  #footer #copyright {
    color: #888888;
    padding: 2rem 0 0 0;
    width: 100%;
    clear: both; }

/*
 *
 * Index
 *
 */
/* =========================== Home Featured Post */
#home-header {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 2rem 0;
  padding: 0; }
  #home-header:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25); }
  #home-header section {
    margin: auto; }
  #home-header div.post-title {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: auto;
    color: white; }
    #home-header div.post-title h1 {
      text-transform: uppercase; }
    #home-header div.post-title h2 {
      font-size: 100%; }
  #home-header .permalink {
    clear: both;
    display: block;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
    #home-header .permalink h3 {
      display: block;
      padding: 1rem 2rem;
      margin: 0;
      font-size: 1.5em; }
    #home-header .permalink p {
      margin: 0; }

.featured-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem; }
  .featured-caption .icon-launch {
    font-size: 1rem; }

/* =========================== Filters List */
.filters dt, .filters dd {
  float: left;
  padding: 1rem .5rem;
  margin: 0 .5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s; }
.filters dt {
  color: #888888; }
.filters dd {
  color: #181818;
  cursor: pointer; }
  .filters dd:hover {
    color: #04b3c8;
    box-shadow: #04b3c8 0 5px 0; }
  .filters dd:active {
    color: black;
    box-shadow: black 0 5px 0; }

/* =========================== Post Grid */
#home-posts {
  z-index: 500;
  background-color: #f2f2f2;
  padding: 2rem 0; }

.posts {
  position: relative;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 75em; }
  .posts li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    box-sizing: border-box;
    border: 5px solid transparent;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 43.75em) {
      .posts li {
        width: 50%; } }
    @media screen and (min-width: 62.5em) {
      .posts li {
        width: 33.333%; }
        .posts li:nth-of-type(1) {
          width: 50%; }
        .posts li:nth-of-type(2) {
          width: 50%; } }
    @media screen and (min-width: 125em) {
      .posts li {
        width: 20%; } }
    .posts li figure {
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
      border: none;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
      overflow: hidden;
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
      .posts li figure:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 60%;
        width: 100%;
        bottom: 4em;
        z-index: 1;
        opacity: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent); }
      .posts li figure > a {
        position: relative;
        z-index: 0;
        padding: 0;
        padding-top: 65%; }
        .posts li figure > a img {
          position: absolute;
          top: 0;
          -webkit-transition-duration: .15s;
          -moz-transition-duration: .15s;
          -ms-transition-duration: .15s;
          -o-transition-duration: .15s;
          transition-duration: .15s; }
      .posts li figure .author {
        position: absolute;
        left: 1em;
        bottom: 5em;
        z-index: 2;
        opacity: 0; }
        .posts li figure .author img {
          position: relative;
          width: 3em;
          border-radius: 50%; }
        .posts li figure .author:hover img {
          box-shadow: 0 0 0px 2px white; }
      .posts li figure:hover {
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35); }
        .posts li figure:hover img {
          -webkit-transition-duration: .15s;
          -moz-transition-duration: .15s;
          -ms-transition-duration: .15s;
          -o-transition-duration: .15s;
          transition-duration: .15s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          transform: scale(1.05); }
        .posts li figure:hover .author, .posts li figure:hover .tags {
          opacity: 1; }
      .posts li figure .tags {
        position: absolute;
        right: 1em;
        bottom: 6em;
        z-index: 2;
        opacity: 0;
        -webkit-transition-duration: .15s;
        -moz-transition-duration: .15s;
        -ms-transition-duration: .15s;
        -o-transition-duration: .15s;
        transition-duration: .15s;
        font-family: "breakers-regular", helvetica, arial, sans-serif; }
        .posts li figure .tags a {
          float: left;
          padding: 0 0 0 1em;
          color: white;
          opacity: .8; }
          .posts li figure .tags a:hover {
            opacity: 1;
            text-decoration: underline; }
      .posts li figure figcaption {
        position: relative;
        background-color: white;
        z-index: 3; }
        .posts li figure figcaption a {
          margin: 0;
          padding: 0;
          text-decoration: none;
          text-align: left; }
          .posts li figure figcaption a h3 {
            margin: 0;
            padding: 0;
            font-size: 1.5em;
            color: #181818; }
            .posts li figure figcaption a h3:after {
              font-family: 'Suffoca-Icons';
              content: '\e095';
              display: block;
              float: right; }
    .posts li h6 {
      text-decoration: none; }
    .posts li a {
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      position: relative;
      padding: .5rem 2rem;
      display: block; }

/* =========================== Pagination / Loading */
#load {
  display: block;
  text-align: center;
  margin: 4rem auto; }

/*
 *
 * Shop View
 *
 */
.shop-categories {
  padding: 0;
  float: left;
  width: 20%;
  margin: 0; }
  .shop-categories dt {
    color: #888888; }
  .shop-categories dt {
    padding: 0.33333rem 2rem; }
  .shop-categories dd {
    padding: 0.33333rem 2rem;
    text-transform: uppercase;
    cursor: pointer; }
    .shop-categories dd ul {
      list-style: none;
      margin: 0;
      opacity: .5; }
  .shop-categories .subcat {
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s; }
  .shop-categories .subcat.close {
    opacity: 0;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0; }

.products {
  width: 80%;
  list-style: none;
  float: left;
  margin: 0; }
  .products li {
    float: left;
    width: 33%; }
    .products li img {
      width: 100%;
      height: 100%; }
    .products li a {
      text-decoration: none;
      padding: 2rem; }
    .products li h6 {
      text-align: center; }

/*
 *
 * Product Post
 *
 */
/*
 *
 * Category View
 *
 */
/*
 *
 * Contributor View
 *
 */
.clubhouse {
  margin: 4em 0 0 0; }
  .clubhouse ul {
    text-align: center;
    margin: 0 auto;
    text-align: center; }
    .clubhouse ul li {
      display: inline-block; }
      .clubhouse ul li a {
        display: block;
        padding: 1em; }
        .clubhouse ul li a.active {
          box-shadow: 0px 3px 0 0 #04b3c8; }

.contributor header {
  text-align: center;
  margin: 4rem 0; }
  .contributor header .profile {
    display: block;
    margin: 2rem auto;
    width: 9.375em; }
.contributor h3 {
  text-align: center;
  color: #888888; }

/*
 *
 * Regular Post
 *
 */
article.post {
  position: relative; }
  article.post small {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #bbbbbb; }
  article.post header.post-header {
    -webkit-font-smoothing: antialiased;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0;
    background-color: #181818;
    color: white;
    color: white;
    position: relative; }
    article.post header.post-header:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.25); }
    article.post header.post-header .post-title {
      margin: auto;
      position: relative;
      z-index: 1;
      padding: 4rem 2rem; }
      article.post header.post-header .post-title .date {
        display: none;
        font-family: "breakers-bold", helvetica, arial, sans-serif;
        letter-spacing: .1em;
        font-size: 1em;
        margin: 2rem auto; }
      article.post header.post-header .post-title .title {
        margin: 1rem 0;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: .01em;
        line-height: 1; }
      article.post header.post-header .post-title .subtitle {
        font-size: 1.5rem;
        letter-spacing: .01em;
        font-weight: 300;
        margin-top: 0;
        -webkit-font-smoothing: antialiased; }
  article.post .meta {
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 1rem;
    bottom: 0;
    padding-left: 1rem;
    z-index: 2; }
    article.post .meta .author {
      font-size: 1rem;
      color: #888888; }
      article.post .meta .author p {
        font-size: 1em !important; }
      article.post .meta .author a {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        -webkit-transition-duration: .15s;
        -moz-transition-duration: .15s;
        -ms-transition-duration: .15s;
        -o-transition-duration: .15s;
        transition-duration: .15s;
        padding: .5rem 1rem; }
        article.post .meta .author a img {
          width: 3.25em;
          display: inline-block;
          vertical-align: middle;
          margin: 0 1rem 0 auto;
          border-radius: 50%; }
        article.post .meta .author a .name {
          -webkit-transition-duration: .15s;
          -moz-transition-duration: .15s;
          -ms-transition-duration: .15s;
          -o-transition-duration: .15s;
          transition-duration: .15s;
          box-shadow: transparent 0 0 0; }
        article.post .meta .author a:hover .name {
          color: white;
          box-shadow: white 0 2px 0; }
        article.post .meta .author a:active {
          background-color: rgba(0, 0, 0, 0.25); }
  article.post .tags {
    position: absolute;
    bottom: 1.25em;
    right: 0;
    font-family: "breakers-bold", helvetica, arial, sans-serif;
    list-style: none;
    margin: 0; }
    article.post .tags li {
      float: left;
      padding: 0;
      margin: 0 1rem 0 0; }
      article.post .tags li a {
        display: block;
        margin: 0.5rem 0;
        text-decoration: none;
        color: white;
        padding: .25rem;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: .01rem;
        -webkit-transition-duration: .15s;
        -moz-transition-duration: .15s;
        -ms-transition-duration: .15s;
        -o-transition-duration: .15s;
        transition-duration: .15s;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
        article.post .tags li a:before {
          content: '#'; }
        article.post .tags li a:hover {
          color: #04b3c8;
          box-shadow: #04b3c8 0 2px 0; }
  article.post .share {
    clear: both;
    text-align: center;
    color: #bbbbbb;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1rem; }
    article.post .share a {
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s;
      color: #888888;
      color: rgba(0, 0, 0, 0.4);
      margin: 0 0 0 .5em; }
      article.post .share a:first-of-type {
        clear: left; }
      article.post .share a span {
        font-size: 1em; }
      article.post .share a:hover {
        color: #181818; }
  article.post .categories {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1rem;
    margin: 0;
    list-style: none; }
  article.post .post-content {
    background-color: #f9f9f9;
    position: relative;
    font-weight: 400;
    padding: 1rem 2rem;
    background-color: white;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.005rem; }
    article.post .post-content img {
      max-width: 75em;
      margin-bottom: 1rem; }
    article.post .post-content blockquote {
      max-width: 50em;
      margin-left: auto;
      margin-right: auto; }
    article.post .post-content p, article.post .post-content figure {
      max-width: 43.75em;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto; }
    article.post .post-content .fluid-width-video-wrapper {
      max-width: 75em;
      margin: 0 auto 1rem; }
  article.post footer {
    text-align: center; }
    article.post footer section.comments {
      max-height: 0;
      overflow: hidden;
      opacity: 0; }
      article.post footer section.comments.show {
        max-height: none;
        overflow: auto;
        opacity: 1; }

.pagination {
  width: 100%;
  border-top: 1px solid #bbbbbb;
  clear: both; }
  .pagination a {
    display: block;
    float: left;
    width: 50%;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .pagination a:hover {
      color: #04b3c8; }
    .pagination a:active {
      color: black;
      background-color: #bbbbbb; }
    .pagination a .icon-left, .pagination a .icon-right {
      vertical-align: -.25rem;
      margin: 0 1rem;
      -webkit-transition-duration: .15s;
      -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
      -o-transition-duration: .15s;
      transition-duration: .15s; }
  .pagination .prev:hover .icon-left {
    margin: 0 1.5rem 0 .5rem; }
  .pagination .next {
    border-left: 1px solid #bbbbbb; }
    .pagination .next:hover .icon-right {
      margin: 0 .5rem 0 1.5rem; }

/*
 *
 * Product Post
 *
 */
.breadcrumb ul li {
  float: left;
  padding: 1em 0; }
  .breadcrumb ul li:after {
    content: '>';
    color: #bbbbbb; }
  .breadcrumb ul li a {
    padding: 0 .5em;
    color: #888888; }
  .breadcrumb ul li:last-child:after {
    content: ''; }
  .breadcrumb ul li:last-child a {
    color: black;
    text-decoration: underline; }

article.product {
  float: none;
  width: auto;
  padding: 4em 1em 0 1em; }
  article.product header {
    width: 100%;
    max-width: 68.75em;
    margin: 0 auto;
    clear: both;
    padding: 0; }
  article.product #product-images {
    width: 100%;
    background-color: #bbbbbb;
    position: relative;
    box-shadow: 0px 0px 2px #bbbbbb; }
    @media screen and (min-width: 62.5em) {
      article.product #product-images {
        float: left;
        width: 65%; } }
    article.product #product-images .button {
      position: absolute;
      bottom: 0;
      z-index: 10;
      text-align: center;
      width: 50%;
      cursor: pointer; }
      article.product #product-images .button:hover {
        color: #04b3c8; }
      article.product #product-images .button:active {
        color: black; }
    article.product #product-images .prev {
      left: 0; }
    article.product #product-images .next {
      right: 0; }
  article.product .product-details {
    padding: 0; }
    @media screen and (min-width: 62.5em) {
      article.product .product-details {
        float: left;
        width: 30%;
        padding: 0 0 0 5%; } }
    article.product .product-details #wishlist {
      background-color: white;
      box-shadow: inset 0px 0px 2px #888888; }
      article.product .product-details #wishlist:active {
        background-color: #888888; }
  article.product #product-selections select {
    background-color: #181818;
    height: 3em;
    color: white;
    border: none;
    width: 30%; }
  article.product .related-products {
    max-width: 100%;
    clear: both;
    border-top: 1px solid black;
    padding: 1rem 0; }
    article.product .related-products ul {
      list-style: none;
      text-align: center; }
      article.product .related-products ul li {
        float: left;
        width: 33.33%; }

/*
 *
 * Global Elements
 *
 */
/* =========================== Navigation */
header, nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  header ul, nav ul {
    font-family: "breakers-regular", helvetica, arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li, nav ul li {
      margin: 0; }
  header a, nav a {
    color: black;
    text-decoration: none; }

/* =========================== Lists */
/* =========================== Links */
a {
  color: #04b3c8; }
  a:hover {
    color: #181818; }
  a:active {
    color: black; }
  a:visited {
    color: #181818; }

/* =========================== Buttons and Inputs */
hr {
  margin: 1rem 0;
  color: #bbbbbb;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #bbbbbb; }

form {
  font-family: "breakers-regular", helvetica, arial, sans-serif; }

input {
  font-family: "breakers-regular", helvetica, arial, sans-serif;
  margin: 1em 0;
  outline: none;
  padding: 1em 0;
  font-size: 1em; }

input[type="text"] {
  width: 60%;
  background: none;
  border: none;
  border-bottom: 1px solid black; }

input[type="submit"], .inline-button {
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  font-weight: 700; }

button, input[type=submit] {
  font-family: "breakers-bold", helvetica, arial, sans-serif;
  font-size: 1em;
  background-color: #04b3c8;
  color: black;
  text-transform: uppercase;
  letter-spacing: .15em;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s; }
  button:active, input[type=submit]:active {
    background-color: #038696; }

button {
  padding: 1rem 1.33333rem;
  margin: 2rem;
  box-sizing: border-box; }
  button:hover {
    box-shadow: 0 0px 0px 5px black; }
  button:active {
    background: linear-gradient(0deg, #025a64, #04b3c8); }

/* =========================== Forms and Labels */
label {
  float: left;
  text-align: right;
  margin-right: 1em; }

.fluid-width-video-wrapper {
  margin-bottom: 2rem; }

header .fluid-width-video-wrapper {
  margin-bottom: 0; }

.full-screen, .full-width {
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 37.5em;
  text-align: center;
  margin: 0 0 1rem 0;
  z-index: 1;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
  .full-screen > section, .full-width > section {
    margin: auto;
    max-width: 50em;
    padding: 2rem 2rem 1rem;
    border: 5px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 3;
    display: block;
    overflow: hidden; }
    .full-screen > section h1 .icon-suffoca, .full-width > section h1 .icon-suffoca {
      font-size: 8rem; }

.section-blur-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(20px);
  -webkit-filter: blur(20px); }

.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px; }

.vertically-centered {
  margin: auto; }

article {
  width: 100%;
  float: left; }
  article header {
    width: 100%;
    padding: 1em; }
  article section {
    padding: 1em;
    margin: 0 auto;
    font-weight: 300; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }
  .swipe .prev, .swipe .next {
    position: absolute;
    bottom: 1em;
    width: 10% !important;
    text-align: center; }
  .swipe .prev {
    left: 0; }
  .swipe .next {
    right: 0; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  position: relative;
  float: left;
  width: 100%;
  background-color: black; }
  .swipe-wrap > div .fluid-width-video-wrapper {
    max-width: 75em;
    margin: 0 auto; }
  .swipe-wrap > div .image {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; }
    .swipe-wrap > div .image:after {
      content: ' ';
      display: block;
      padding-top: 56.2719812426729%; }

/*! responsive-nav.js v1.0.15 by @viljamis */
.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

#info-1.opened {
  max-height: 9999px;
  padding: 0 0 6em 0; }

.expand {
  font-weight: bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer; }

a.closed {
  transition: 2s; }

a.opened {
  display: block;
  font-size: 1.1em;
  /* Safari */
  -webkit-transform: rotateY(-180deg);
  -webkit-transform: rotateZ(-45deg);
  /* Firefox */
  -moz-transform: rotateZ(-45deg);
  /* IE */
  -ms-transform: rotateZ(-45deg);
  /* Opera */
  -o-transform: rotateZ(-45deg); }

body {
  font-family: "proxima-nova", helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  background-color: #f9f9f9;
  -webkit-text-size-adjust: 100%;
  background-color: #f2f2f2; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
article.post .share,
img.half {
  margin-bottom: 1rem; }

/**
 * Images
 */
img {
  display: block;
  width: 100%;
  max-width: 75em;
  margin: 0 auto 1rem;
  vertical-align: middle; }

img.half {
  width: 100%; }
  @media screen and (min-width: 43.75em) {
    img.half {
      float: left;
      width: 50%; } }

/**
 * Lists
 */
ul, ol {
  margin-left: 2rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1, h3 {
  font-family: "breakers-bold", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2, h4, h5, h6 {
  font-family: "breakers-regular", helvetica, arial, sans-serif; }

.title {
  font-family: "breakers-bold", helvetica, arial, sans-serif; }

.subtitle {
  font-family: "breakers-regular", helvetica, arial, sans-serif; }

h1 {
  font-size: 2rem; }
  @media screen and (min-width: 43.75em) {
    h1 {
      font-size: 4rem; } }
  @media screen and (min-width: 87.5em) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-size: 1rem; }
  @media screen and (min-width: 43.75em) {
    h2 {
      font-size: 2rem; } }
  @media screen and (min-width: 87.5em) {
    h2 {
      font-size: 4rem; } }

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 800;
  margin-top: 2rem; }

h4 {
  font-size: 1em;
  font-weight: 600; }

h5 {
  font-size: 1em;
  font-weight: 600; }

h6 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .9em; }

/**
 * Links
 */
/**
 * Blockquotes
 */
/**
 * Clearfix
 */
#header:after, #primary:after, #primary #page-nav:after, #primary #search:after, .filters:after, .posts:after, .shop-categories:after, .products:after, .contributor header:after, article.post header.post-header .post-title:after, article.post .meta .author:after, article.post .tags:after, article.post footer section.comments:after, .pagination:after, .breadcrumb ul:after, article.product header:after, article.product .related-products:after, article.product .related-products ul:after, ul:after {
  content: "";
  display: table;
  clear: both; }

.device {
  display: block;
  border: 1em solid black;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  margin: 2em auto;
  box-sizing: border-box;
  width: 80%; }
  @media screen and (min-width: 43.75em) {
    .device {
      border: 3em solid black;
      border-radius: 3em;
      -webkit-border-radius: 3em;
      -moz-border-radius: 3em; } }

.device {
  max-width: 75em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
