/*
 * Layout
 */


/*
 * Includes
 */

body{
	//margin-top:2.75em;
	margin-top:2.25em;
	@media screen and (min-width:$phablet){
		margin-top: 3.25em;
	}
}
/* =========================== Header */
#header{
	@extend %clearfix;
	position:fixed;
	top:0;
	width:100%;
	z-index:998;
	background-color:$white;
	background-color:rgba(255,255,255,1);	 
	font-family:$base-font-family;
	font-weight:600;	
	font-size:12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
	text-transform:uppercase;
	letter-spacing:.1em;
	text-align:center;
	padding:.5em .5em;
	@include transition-tenth-sec;
	@include teo;
	&.closed{
		top:-4em;
	}
	a{
		text-decoration:none;
		//color:$black;
	}
	&.scrolled{
		
		padding:.5em .5em;
		&:hover{
			opacity:1;
		}
		a{
			//color:$text-color;
		}
		#toggle{
			//padding:.5em .25em;
		}
		#cart{
			//padding:.5em .25em;
		}
	}
	
	#toggle{
		display:block;
		position:absolute;
		top:0;
		left:0;
		z-index:1000;
		width:24px;
		height:21px;
		padding:.75em;
		@media screen and (min-width:$phablet){
			padding:1.25em;
		}
		cursor:pointer;
		span.menu{
			width:50%;
			height:21px;
			position:relative;
			
			.icon-menu{
				position:absolute;
				width:12px;
				height:18px;
				margin:0;
				padding:0;
				-webkit-transition: all 150ms cubic-bezier(0.5, 0, 0.345, 1); /* older webkit */
				-webkit-transition: all 150ms cubic-bezier(0.5, -0.2, 0.345, 1.80); 
				   -moz-transition: all 150ms cubic-bezier(0.5, -0.2, 0.345, 1.80); 
				     -o-transition: all 150ms cubic-bezier(0.5, -0.2, 0.345, 1.80); 
				        transition: all 150ms cubic-bezier(0.5, -0.2, 0.345, 1.80); /* easeInOutBack */

				-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.345, 1); /* older webkit */
				-webkit-transition-timing-function: cubic-bezier(0.5, -0.2, 0.345, 1.80); 
				   -moz-transition-timing-function: cubic-bezier(0.5, -0.2, 0.345, 1.80); 
				     -o-transition-timing-function: cubic-bezier(0.5, -0.2, 0.345, 1.80); 
				        transition-timing-function: cubic-bezier(0.5, -0.2, 0.345, 1.80); /* easeInOutBack */
			}
		}
		span.menu-l{
			.icon-menu{
				bottom:0px;
			}	
		}
		span.menu-r{
			.icon-menu{
				bottom:3px;	
			}
		}
		&:hover{			
			span.menu-r{
				.icon-menu{
					bottom:0;
				}
			}	
		}
		
		span.menu{
			//@include transition-tenth-sec;
			//@include teo;
			//background:url(../img/UI/logos/menu-icon.png);
			//background:url(../img/UI/logos/menu-icon.svg);
			//@include full-bleed-background;
			//line-height:1.875;
			float:left;
			width:50%;
			height:1.5em;
			//background-color:blue;
			display:block;
			padding:0;
			margin:0;
			//margin:.5em .25em;
		}
	}
	#logotype{
		padding:0;
		margin:0;
		letter-spacing:.05rem;
		display:inline-block;
		@include transition-bounce;
		&:hover{
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			//transform: rotate(5deg);
		}
		.icon-wordmark{
			display:inline-block;
			width:110px;
			font-size:$base-font-size ;
			margin:.25em 0 0;
			line-height:1.5;
			@media screen and (min-width:$phablet){
			    font-size:$base-font-size *1.25;
				margin:.5em 0 .25em;
				line-height:1.5;
			}
		}
	}
	#cart{
		position:absolute;
		top:0;
		right:0;
		z-index:1000;
		//float:right;
		padding:.25em 1.5em;
		@media screen and (min-width:$phablet){
			padding:.8em 2.25em;
		}
		
		#shop-link{
			position:relative;
			line-height:1.5;
			//background-color:$brand-color-secondary;
			box-shadow:0 0 0 1.5px #333;
			//border: 1.5px solid #333;
			border-radius:.35em;
			-ms-border-radius:.35em;
			-moz-border-radius:.35em;
			-webkit-border-radius:.35em;
			//line-height:1;
			//color:$white;
			font-size:10px;
			letter-spacing:.15em;
			font-weight:600;
			padding:.2em 1.5em;
			margin:.6em .5em;
			display:block;
			-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
			@include transition-bounce;

			&:hover{
				//color:$white;
				//background-color:$grey-dark;
				//box-shadow:0 0 0 1.5px $grey-dark;

							animation:wiggle .4s;
						-ms-animation:wiggle .4s;
					   -moz-animation:wiggle .4s;
					-webkit-animation:wiggle .4s;
				//padding:.25em 2em;
				//margin:.5em .25em;
				//transform: scale(1.2);
				//-ms-transform: scale(1.2);
				//-moz-transform: scale(1.2);
				//-webkit-transform: scale(1.2);
				
			}
		}
		
		#cart-link{
			display:none;
			@extend %clearfix;
			padding:0;
			margin:.5em 0;
			color:$grey-dark;
			font-size:10px;
			line-height:1.5;
			box-shadow:0 0 0 1px #cccccc;
			//border:1px solid #cccccc;
			@include round-corners;
			overflow:hidden;
			>span{
				display:block;
				float:left;
				padding:.25em 1em;
			}
			.cart{
				//padding:0em 1em;
			}
			.total{
				background-color:#e5e5e5;
				//padding:0em 1em;

			}

			&:hover{
				//background-color:$brand-color-secondary;
				//color:$white;
				background-color:#cccccc;
				color:$black;
				@include transition-tenth-sec;
				@include teo;
			}
			
			span.count{
				font-size:1rem;
				line-height:1;
				padding:0 .75em 0 0;
				vertical-align:-.05em;
				
			}
			span.icon-cart{
				letter-spacing:0;
				padding:0 .25em;
				vertical-align:-.1em;
				//display:none;
			}
		}
	}
	
}

@keyframes wiggle{
			0%{transform:rotate(0deg);}
		   35%{transform:rotate(-8deg);}
		   50%{transform:rotate(6deg);}
		   75%{transform:rotate(-4deg);}
		   90%{transform:rotate(2deg);}
		  100%{transform:rotate(0deg);}}
	@-ms-keyframes wiggle{
		    0%{-ms-transform:rotate(0deg);}
		   35%{-ms-transform:rotate(-8deg);}
		   50%{-ms-transform:rotate(6deg);}
		   75%{-ms-transform:rotate(-4deg);}
		   90%{-ms-transform:rotate(2deg);}
		  100%{-ms-transform:rotate(0deg);}}
   @-moz-keyframes wiggle{
   	  0%{-moz-transform:rotate(0deg);}
		   35%{-moz-transform:rotate(-8deg);}
		   50%{-moz-transform:rotate(6deg);}
		   75%{-moz-transform:rotate(-4deg);}
		   90%{-moz-transform:rotate(2deg);}
		  100%{-moz-transform:rotate(0deg);}}
@-webkit-keyframes wiggle{
			0%{-webkit-transform:rotate(0deg);}
		   35%{-webkit-transform:rotate(-8deg);}
		   50%{-webkit-transform:rotate(6deg);}
		   75%{-webkit-transform:rotate(-4deg);}
		   90%{-webkit-transform:rotate(2deg);}
		  100%{-webkit-transform:rotate(0deg);}}


.logo-subtitle{
	position:fixed;
	top:0;
	width:100%;
	text-align:center;
	font-size:$small-font-size;
	//color:$white;
	color:$black;
	font-family:$sans-regular;
	letter-spacing:.25em;
	margin-top:3.25em;
	z-index:999;
	@include transition-tenth-sec;
	@include teo;
	&.scrolled{
		opacity:0;
		margin-top:2em;
	}
}
/* =========================== Navigation */
#primary{
	@extend %clearfix;
	padding:0;
	text-transform:uppercase;
	letter-spacing:.05em;
	font-family:$sans-bold;
	font-size:$base-font-size;
	@include transition-quarter-sec;
	@include transition-ease-out;	
	
	top:10vh;
	bottom:50vh;
	left:20vw;
	right:20vw;
	z-index:-100;
	opacity:0;		
	color:$grey-dark;
	transform:scale(.5);
	&.fixed{
		position:fixed;
	}		
	&.open{
		@include transition-ease-out;
		background-color:$white;
		background-color:rgba(255,255,255,.95);
		//position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		opacity:1;
		z-index:1000;
		overflow-y:scroll;
		transform:scale(1);
	}
	&.left{
		left:-100%;
		right:100%;
	}
	&.right{
		right:-100%;
		left:100%;
	}
	&.scrolled{
		#close-primary{
			padding:.75em;
		}
		#social-nav{
			padding:.5rem .5rem;
		}
	}
	#close-primary{
		position:absolute;
		top:0;
		left:0;
		padding:.75em;
		width:1em;
		height:1.5em;
		cursor:pointer;
		text-align:center;
		z-index:6;
		@include transition-tenth-sec;
		.icon-close{
			display:block;
			font-size:1.25rem;
			//width:30px;
			//height:30px;
			line-height:1;
			font-weight:bold;
			.path1{
				stroke-width:10px;
			}
			#icon-close{
				.path1{
					stroke-width:10px;
				}
			}
		}
		
		span.close-text{
			font-family:$sans-regular;
			font-size:.75rem;
			line-height:1;
			vertical-align:.25em;			
		}
		&:hover{
			color:$black;
		}
	}
	#close-primary-hidden{
		cursor: not-allowed;
		position:absolute;
		top:0;
		bottom:0;
		width:100%;
		z-index:0;
		z-index:-1;
	}
	#page-nav{	
		@include transition-bounce;
		@include teo;
		text-align:left;
		z-index:1;
		@extend %clearfix;
		width:100%;
		max-width:(em(600));
		margin:$spacing-unit *4 auto $spacing-unit*2;
		padding:0;
		
		li{	
			font-size:$base-font-size *4;	
			padding: 0;
			margin:0;
			line-height:1;
			text-align:center;
			a{
				font-family:$sans-bold;
				font-weight: 800;
				font-size:$base-font-size *3;
				color:rgba(0,0,0,1);
				display:block;
				margin:0;
				padding:.5rem .5em;
				@include transition-bounce;
				&:hover{
					color:$black;
					transform:scale(1.15);
					-webkit-transform:scale(1.15);
					-moz-transform:scale(1.15);
					-ms-transform:scale(1.15);
					
					//@include teo;
				}
				@media screen and (min-width:$tablet){
					font-size:$base-font-size *5;
				}
			}
		}		
	}
	#social-nav{		
		font-size:1rem;
		padding:.5em 1em;
		z-index:1;
		width:10em;
		margin:0 auto;
		li{
			float:left;
			width:33%;
		}
		a{
			display:block;
			padding:.25em 1em;
			color:$grey;
			span{
				font-size:1.5em;
			}
			&:before, &:after{
				
			}
			&:hover{
				color:$black;
			}
		}
	}	
	#search{
		display:block;
		@extend %clearfix;
		width:100%;
		max-width:(em(600));
		padding:0;
		margin:0 auto $spacing-unit;
		position:relative;
		font-size:$base-font-size;
		text-align:center;
		input[type="text"]{
			text-align:center;
			font-size:2.5em;
			//width:100%;
			margin:0 1em;
			padding:0;
			color:$black;
			//border-bottom:1px solid black;
			//padding:0 $spacing-unit;
			//margin:1em 5%;
		}

		&:hover{
			input[type="submit"]{
				//opacity:1;
			}
		}
		input[type="submit"]{
			font-size:1.5em;
			opacity:0;
			padding:1em;
			//color:$grey;
			position:absolute;
			right:0;
			top:0;
			
			background-color:rgba(0,0,0,0);
			&:hover{
				color:$black;
			}
		}
	}
}

		::-webkit-input-placeholder {
		   color: $black;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $black;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $black;  
		}

		:-ms-input-placeholder {  
		   color: $black;  
		}

/* =========================== Off Site Slide In Pages */

#about, #contact{
	position:fixed;
	top:0;
	bottom:0;
	width:100%;
	@include transition-quarter-sec;
	@include transition-ease-out;
	display:flex;
	display:-webkit-flex;
	z-index:0;
	background-color:#f8f8f9;
	background-color:rgba(255,255,255,.9);
	h1{
		text-align:center;
	}
	&.open{
		left:0;
		right:0;
		z-index:2000;
		opacity:1;
		.closeOffCanvas{
			z-index:1;
			opacity:1;
		}
	}
}

//off-canvas-left
#about{	
	left:-100vw;
	right:100vw;

	.about-text{
		max-width:(em(800));
		margin:auto;
		text-transform:uppercase;
		letter-spacing:.05em;
		font-size: $small-font-size;
		font-weight:bold;
		img{
			width:80%;
		}
		h6{
			text-align:center;
		}
	}

}



//off-canvas-right
#contact{
	left:100vw;
	right:-100vw;
}
#email-form{
	width:50%;
	max-width:(em(500));
	margin:auto;
	padding:$spacing-unit*2 $spacing-unit;
	input{
		text-transform:uppercase;
		clear:both;
		text-align:center;
		display:block;
		margin:$spacing-unit auto;
	}
	.email{
		border:1px solid $grey;
		padding:.5em 1.5em;
		font-size:10px;
		min-width:em(350);
		font-weight:bold;
		letter-spacing: .05em;
	}
	.message{
		color:$black;
		font-size:2em;
		width:100%;
		letter-spacing: .05em;
		text-align:center;
		border:none;
		outline:none;
		text-transform:uppercase;
		font-family:$sans-bold;
	}
	.send{
		text-transform:none;
		background-color:$white;
		color:$grey;
		//border:2px solid $grey;
		box-shadow: 0 0 0 2px $grey;
		border-radius:2em;
		padding:1em 2em;
		&:hover, &:active{
			background-color:$black;
			//border:2px solid $black;
			box-shadow: 0 0 0 6px $black;
			color:$white;
		}
	}
}



.closeOffCanvas{
	position:fixed;
	top:50%;
	height:1px;
	line-height:.5;
	z-index:0;
	color:$black;
	font-size:2em;
	cursor:pointer;
	opacity:0;
	font-weight:bold;
}
#closeAbout{
	right:1em;
}
#closeContact{
	left:1em;
}


/* =========================== Footer */
#footer{
	display:none;
	background-color:$grey-dark;
	color:$grey-light;
	padding:$spacing-unit ;
	text-align:center;
	clear:both;
	#newsletter{
		//width:33%;
		input{
			-webkit-box-sizing:border-box;
		}
		input[type=text]{
			color:$white;
			border:1px solid $grey;
			vertical-align:bottom;
		}
		input[type=submit]{
			color:$black;
			//border:1px solid $black;
		}
		@media screen and (min-width: $laptop){
			width:33%;
			float:left;
		}
	}
	#signature{
		span{
			font-size:6rem;
		}
		@media screen and (min-width: $laptop){
			width:33%;
			float:left;
		}
	}
	#social-links{
		a{
			display:block;
			float:left;
			text-align:center;
			margin:$spacing-unit /6 0 0 0;
			padding:$spacing-unit /4 0;
			width:50%;
			color:$grey-light;
			text-decoration:none;
			&:hover{
				color:$white;
			}
		}
		@media screen and (min-width: $laptop){
			width:33%;
			float:left;
		}
	}
	#copyright{
		color:$grey;
		padding:$spacing-unit 0 0 0;
		width:100%;
		clear:both;
	}
}

/*
 *
 * Index
 *
 */

/* =========================== Home Featured Post */

#home-header, .page-header{
	display:block;
	position:fixed;
	top:0;
	bottom:0;
	overflow:hidden;
	z-index:-1;
	background-color:$off-white;
	width:100%;
	height:95vh;
	min-height:500px;
	text-decoration:none;
	display:flex;
	display:-webkit-flex;
	
	@include full-bleed-background;
	&:hover{
		&:after{
			//background-color:rgba(0,0,0,.35);
		}
	}
	&:after{
		@include transition-quarter-sec;
		@include teo;
		@include pseudo-mask;
		background-color:rgba(0,0,0,.2);
		//background:linear-gradient(0deg, rgba(0,0,0,.5), transparent);
	}
	section{
		margin:auto;
	}
	margin:0 0 $spacing-unit 0;
	padding:0;
	
	
	div{
		//margin:0;
		//padding:0;
		//width:100%;
		div{
			//width:100%;
			//max-width:100%;
			//margin:0 auto;
			//float:none;
			
		}
	}
	.permalink{
		clear:both;
		display:block;
		background-color:$white;
		margin:0 auto;
		padding:0;
		width:70%;
		box-shadow:0 2px 4px rgba(0,0,0,.25);
		h3{
			display:block;
			padding:$spacing-unit /2 $spacing-unit;
			margin:0;
			font-size:1.5em;
		}
		p{
			margin:0;
		}
	}
}
.featured-caption{
	position:absolute;
	right:0;
	bottom:0;
	color:$white;
	cursor:pointer;
	text-decoration:none;
	padding:$spacing-unit/2;
	.icon-launch{
		font-size:1rem;
	}
}
/* =========================== Filters List */
.filters{
	@extend %clearfix;
	text-align:center;
	padding:.25rem $spacing-unit /2;
	margin:0;
	dt, dd, li{
		//float:left;
		padding:.5rem .5rem;
		margin:0 .5rem;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		//border:1px solid black;
		@include transition-tenth-sec;
		font-size:10px;
		
		font-family:$sans-regular;
		text-transform:uppercase;
		letter-spacing:.05em;
	}
	dt{
		color:$grey;
		display:none;
	}
	dd, li{
		color:$grey;
		cursor:pointer;
		//float:left;
		display:inline-block;
		&:hover{
			//color:$brand-color-secondary;
			//box-shadow: $grey-dark 0 4px 0;
			animation:wiggle .4s;
		-ms-animation:wiggle .4s;
	   -moz-animation:wiggle .4s;
	-webkit-animation:wiggle .4s;
		}
		&:active{
			color:$black;
			//box-shadow: $black 0 5px 0;
		}
	}
}
/* =========================== Post Grid */
#home-posts{
	@extend %clearfix;
	z-index:500;
	background-color:$off-white;
	padding: 0;
	margin-top:85vh;
}

.posts{
	position:relative;
	@extend %clearfix;
	clear:both;
	margin:0 auto;
	padding:0;
	list-style:none;
	li{
		
		float:left;
		//background-color:blue;
		width:100%;
		padding:0;
		position:relative;
		
		// VERTICAL ASPECT RATIO SPACING
		&:before{
		    display:block;
			content:' ';
			padding:0 0 56.25%;
			background-color:rgba(0,0,0,.25);
			margin:0;
			@include teo;
			@include transition-tenth-sec;
		}
		
		&:hover{
			&:before{
				background-color:rgba(0,0,0,.85);
			}
			
		}
		
		@media screen and (min-width:$tablet) {
			width:50%;
			&:nth-of-type(5){
				width:100%;
			}
		}
		@media screen and (min-width:$laptop) {
			width:33.333%;
			&:nth-of-type(5){
				width:33.333%;
			}
		}
		@media screen and (min-width:$desktop) {
			// width:25%;
		}

		@include full-bleed-background;
		
		//WRAP POST AREA BG WITH LINK
		a.permalink{
			    text-decoration:none;
			    position:absolute;
				top:0;
				bottom:0;
				padding:0;
				width:100%;
				display:block;
				display:flex;
				display:-webkit-flex;
				z-index:1;		
			h3{
				@include transition-tenth-sec;
				@include teo;
				margin: auto;
				text-align:center;
				padding:.5em 1.5em;
				letter-spacing:.1em;
				color:$white;
				//opacity:.5;
				font-size:1em;
				//background-color: rgba(0,0,0,.25);
				box-shadow:0 0 0 2px  rgba(255,255,255,.5);
			}
			&:hover{
				h3{
					box-shadow:0 0 0 2px  rgba(255,255,255,1);
					//background-color:$smoke;
					//box-shadow:0 0 0 5px $smoke;
				}
			}
		}
		// CONTRIBUTOR INFO & TAGS
		.contributor{
			
		}
		.tags{
			//display:none;
		}
		.author{
			display:none;
			position:absolute;
			left:.5rem;
			bottom:.5rem;
			z-index:2;
			opacity:0;
			padding:0;
			margin:0;
			img{
				position:relative;
				width:2em;
				border-radius:50%;
				vertical-align:bottom;
				margin:0;
			}
			&:hover{
				img{
					//box-shadow: 0 0 0px 2px $white;
				}
			}
		}	
		&:hover{
			@include teo;
			img{
				@include transition-tenth-sec;
				@include teo;
				transform:scale(1.05);
    
			}
			.author, .tags{
				opacity:1;
			}
		}
		.tags{
			display:none;
			position:absolute;
			right:.5rem;
			bottom:.5rem;
			z-index:2;
			opacity:0;
			@include transition-tenth-sec;
			font-family:$sans-regular;
			
			a{
				float:left;
				padding:0 0 0 1em;
				color:$white;
				opacity:.8;
				&:hover{
					opacity:1;
					text-decoration:underline;
				}
			}
		}
		
	}
	//li{
		//@extend %clearfix;
		//position:relative;
		
	//list-style-type:none;
	////float:left;
	//margin: 0;
	//padding:0;
	//width:100%;
	//text-align:center;
	//display:block;
	//background-color:blue;
	//box-sizing:border-box;
	//border:5px solid transparent;
	//
	//@media screen and (min-width:$tablet) {
	//	width:50%;
	//}
	//@media screen and (min-width:$laptop) {
	//	//&:nth-of-type(1){width:50%}
	//	//&:nth-of-type(2){width:50%}
	//	width:33.333%;
	//}
	//@media screen and (min-width:$jumbotron) {
	//	width:20%;
	//}
	//@include full-bleed-background;
		//figure{
		//	display:block;
		//	//display:flex;
		//	//display:-webkit-flex;
		//	position:relative;
		//	padding:0;
		//	margin:0;
		//	border:none;
		//	background-color:$white;
		//	//box-shadow:0 2px 4px 0 rgba(0,0,0,.35);
		//	overflow:hidden;
		//	
		//	@include transition-tenth-sec;
		//	@include teo;
		//	
		//	&:after{
		//		//content:' ';
		//		//display: block;
		//		//position:absolute;
		//		//top: 60%;
		//		//width:100%;
		//		//bottom: 0;
		//		////background-color:$black;
		//		//z-index:1;
		//		//opacity:1;
		//		//background: linear-gradient(0deg, rgba(0,0,0,.5), transparent);
		//		
		//	}
		//	>a{
		//		position:relative;
		//		z-index:0;
		//		padding:0;
		//		padding-top:65%;
		//		//border-top:1px solid red;
		//		img{
		//			position:absolute;
		//			top:0;
		//			@include transition-tenth-sec;
		//		}
		//	}	
		//	.author{
		//		position:absolute;
		//		left:1em;
		//		bottom:5em;
		//		z-index:2;
		//		opacity:0;
		//		img{
		//			position:relative;
		//			width:3em;
		//			border-radius:50%;
		//			
		//		}
		//		&:hover{
		//			img{
		//				//box-shadow: 0 0 0px 2px $white;
		//			}
		//		}
		//	}
		//	
		//	
		//	&:hover{
		//		@include teo;
		//		img{
		//			@include transition-tenth-sec;
		//			@include teo;
		//			transform:scale(1.05);
        //
		//		}
		//		//
		//		//box-shadow:0 4px 6px 0 rgba(0,0,0,.35);
		//		.author, .tags{
		//			//opacity:1;
		//		}
		//	}
		//	.tags{
		//		position:absolute;
		//		right:1em;
		//		bottom:6em;
		//		z-index:2;
		//		opacity:0;
		//		@include transition-tenth-sec;
		//		font-family:$sans-regular;
		//		
		//		a{
		//			float:left;
		//			padding:0 0 0 1em;
		//			color:$white;
		//			opacity:.8;
		//			&:hover{
		//				opacity:1;
		//				text-decoration:underline;
		//			}
		//		}
		//	}
		//	figcaption{
		//		//margin:auto;
		//		position:absolute;
		//		bottom:0;
		//		left:0;
		//		right:0;
		//		background-color:$white;
		//		z-index:3;
		//		text-align:center;
		//		a{
		//			margin:0;
		//			padding:0;
		//			text-decoration:none;
		//			//text-align:center;
		//			h3{
		//				//-webkit-font-smoothing: antialiased;
		//				//-moz-osx-font-smoothing: grayscale;
		//				margin:0;
		//				padding:0;
		//				font-size:1.5em;
		//				color:$white;
		//				
		//			    &:after{
		//					//font-family: 'Suffoca-Icons';
		//			    	//content:'\e095';
		//					//display:block;
		//					//float:right;
		//			    }
		//			}
		//		}
		//	}
		//}
		
		
		
		h6{
			//color:$black;
			//margin:1em 0;
			//border:5px solid $white;
			//z-index:2;
			//display:inline-block;
		    //padding:1rem 2rem;
			//color:$white;
			//margin:$spacing-unit *4 $spacing-unit /2;
			text-decoration:none;
		}
		
		a{
			@include transition-tenth-sec;
			@include transition-ease-out;
			@include transition-ease-in;		
			position:relative;
			padding:.5rem 2rem;
			display:block;
			//width:100%;
			//opacity:.5;

		}

		&:hover{			
			a{
				//opacity:1;
				//background-color:$smoke;
				h6{
					//opacity:1;
				}
			}
		}
		//}
}
/* =========================== Pagination / Loading */
#load{
	display:block;
	text-align:center;
	margin:$spacing-unit *2 auto;
	//padding:1em;
	
}

.title{
	text-transform:uppercase;
	margin:1em 0 0 0;
}
.subtitle{
	//text-transform:uppercase;
	font-size:$base-font-size;	
	button{
		//background-color:transparent;
		//background-color:rgba(255,255,255,0);
		color:$white;
		//box-shadow:0 0 0 2px $white;
		&:hover{
			//background-color:rgba(255,255,255,1);
			//box-shadow:0 0 0 5px $white;
			//color:$black;
		}
	}
}

/*
 *
 * Shop View
 *
 */

#shop-header{
	@include full-bleed-background;
	@extend %clearfix;
	//height:300px;
	color:$white;
	text-align:center;
	padding:$spacing-unit $spacing-unit;
	cursor:pointer;
	height:50vh;
	display:flex;
	display:-webkit-flex;
	position:relative;
	&:before{
		@include pseudo-block;
		//position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		@include transition-tenth-sec;
	}
	&:hover{
		&:before{
			//background-color:rgba(0,0,0,.25);
		}		
	}
	section{
		margin:auto;
		z-index:2;
	}

	h1{
		display:inline-block;
		padding:.25em 1.5em;
		line-height:1;
		text-transform:uppercase;
		line-height:1.5;
		
	}

}

#shop-intro{
	font-size:$small-font-size;
	color:$black;
	max-width: (em(1200));
	margin:0 auto;
	padding:$spacing-unit;
	@media screen and (min-width:$tablet){
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
            -moz-column-fill: balance;
       column-fill: balance;
	}
	p{
		margin-bottom:0;
	}
	&:after{
		display:inline-block;
		content:" ";
		float:right;
		//padding:0;
		margin:$spacing-unit/4;
		//font-size:2em;
		width:60px;
		height:48px;
		//border:1px solid black;
		color:$black;
		background:url(../icons/SVG/signature.svg) no-repeat;
		background-size:100%;
	}
}

#lookbook-modal{
	&.fixed{
		position:fixed;
		top:-100vh;
		left:0;
		right:0;
		bottom:100%;
		background-color:$black;
		z-index:-1;
		opacity:0;
		padding:0;
		@include transition-tenth-sec;
		@include teo;
		//margin:1em;
		z-index:1;
		color:$white;

		#lookbook{
			visibility:hidden;
			max-height:0;
			.pane{
				height:100vh;

			}
		}
		.lookbook-title{
			@include transition-tenth-sec;
			position:fixed;
			top:-200px;
			left:0;
			right:0;
			padding:0 1em;
			text-align:center;
		}		
	}
	&.open{
		opacity:1;
		top:0;
		bottom:0;
		z-index:1000;
		#lookbook{
			visibility:visible;
			max-height:150%;
			img{
				max-width:100%;
			}
		}
		.lookbook-title{
			top:0;
		}
	}	
	.close-lookbook{
		position:fixed;
		top:0;
		padding:.5em;
		left:3em;
		right:3em;
		text-align:center;
		cursor:pointer;
		@include transition-tenth-sec;
		@include teo;
		//font-size:2em;
		&:hover{
			transform:rotate(180deg);
		}
		&:active{
			transition-delay:.1s;
			-webkit-transition-delay:.1s;
			-moz-transition-delay:.1s;
			-ms-transition-delay:.1s;
			transform:scale(.75);
		}
	}
		.icon-close{
			font-size:1.25em;
			margin:0 auto;

			//color:$grey-light
		}
	.slick-prev{
		color:$white;
		&:hover{
			
		}
	}
	.slick-next{
		color:$white;
		&:hover{
			
		}
	}
	.prev, .next{
		position:fixed;
		bottom:0;
		width:1em;
		padding:0 1em;
		cursor:pointer;

	}
	.prev{
		left:0;
	}
	.next{
		right:0;
	}
}
.shop-categories{
	@extend %clearfix;
	padding:0;
	font-size:$small-font-size;
	//float:left;
	//width:20%;
	margin:0 0 0 0;
	background-color:$white;
	//border-bottom:1px solid $black;
	//text-align: center;
	dt{
		color:$grey;
	}
	dt{ display:none;
		padding:$spacing-unit /6 $spacing-unit;}
	dd{
		//display:inline-block;
		float:left;
		padding:$spacing-unit /2 ;
		text-transform:uppercase;
		cursor: pointer;
		ul{
			list-style:none;
			margin:0;
			opacity:.5;
			li{
				
			}
		}
	}
	.subcat{
		@include transition-tenth-sec;
		
	}
	.subcat.close{
		 opacity:0;
		 //height:0;
		 //clip:auto;
	     border: 0;
	     clip: rect(0 0 0 0);
	     height: 1px;
	     margin: -1px;
	     overflow: hidden;
	     padding: 0;
	}
	
}

.products{
	
	@extend %clearfix;
	list-style:none;
	margin:0;
	padding:0;
	
	li{
		float:left;
		width:100%;
		@media screen and (min-width:$tablet){
			width:50%;
		}
		@media screen and (min-width:$laptop){
			width:33.333%;
		}
		@media screen and (min-width:$jumbotron){
			width:25%;
		}		
		&:hover{
			a{
				//background-color:$brand-color;
				
			}
			h6, .price{
				
				//color:$brand-color;
			}
			img{
				transform:scale(1);
			}
		}
		img{
			@include transition-tenth-sec;
			@include teo;
			width:100%;
			//height:100%;
			//padding:1em;
			transform:scale(.9);
		}
		a{	
			@include transition-tenth-sec;
			@include teo;
			position:relative;
			background-color:$white;
			display:block;
			text-decoration:none;
			padding:$spacing-unit /4;
			margin:0;
			text-align:center;
			//display:flex;
		}
		//h6{
		//	//position:absolute;
		//	bottom:0;
		//	left:0;
		//	right:0;
		//	//width:100%;
		//	text-align:center;
		//	//margin:auto;
		//	margin:0;
		//	color:$grey-dark;
		//	font-family:$sans-bold;
		//	font-size:$base-font-size;
		//	//-webkit-font-smoothing: antialiased;
		//	&:before{
		//		@include pseudo-block;
		//		width:20%;
		//		left:40%;
		//		right: 40%;
		//		bottom:4em;
		//		border-top:1px solid $off-white;
		//	}
		//}
		//p.price{
		//	//font-family:$sans-regular;
		//	font-size:$small-font-size;
		//	margin:0;
		//	color:$grey;
		//}
	}
}



/*
 *
 * Category View
 *
 */



/*
 *
 * Contributor View
 *
 */

.clubhouse{
	margin:4em 0 0 0;
	ul{
		text-align:center;
		margin:0 auto;
		text-align:center;
		li{
			//float:left;
			display:inline-block;
			a{
				display:block;
				//padding:1em;
				&.active{
					box-shadow:0px 3px 0 0 $brand-color;
				}
			}
		}
	}
}

.contributor{
	header{
		@extend %clearfix;
		text-align:center;
		.profile{
			display:block;
			//float:left;
			margin:$spacing-unit auto;
			width:em(150);
			@extend %perfect-circle;
			//overflow:hidden;
		}
		margin:$spacing-unit *2 0;
	}
	h3{
		text-align:center;
		color:$grey;
	}
	.posts{
		li{
			a{
				
			}
		}
	}
}



/*
 *
 * Regular Post
 *
 */


article.post{	
	small{
		text-align:center;
		display:block;
		margin:0 auto;
		color:$grey-light;	
	}
	position:relative;
	header.post-header{
		position:fixed;
		top:0;
		bottom:0;
		overflow:hidden;
		-webkit-font-smoothing:antialiased;
		display:flex;
		display:-webkit-flex;
		width:100%;
		height:95vh;		
		@include full-bleed-background;
		text-align:center;
		padding:0;
		background-color:$grey-dark;
		color:$white;
		color:rgba(255,255,255,1);
      
		&:after{
			//@include pseudo-mask;
			//background-color:rgba(0,0,0,.35);
		}
		.post-title{
			//margin:auto;
			//@extend %clearfix;
			//position:relative;
			z-index:1;
			//bottom:0;
			//left:0;
			//padding:$spacing-unit *2 $spacing-unit;
			
			.date{
				display:none;
				font-family:$sans-bold;
				//display:block;
				letter-spacing:.1em;
				font-size:1em;
				margin:$spacing-unit  auto;
			}
			// .title{
			// 	//font-size:$base-font-size *4;
			// 	//color:$white;
			// 	margin:$spacing-unit /2 0;
			// 	text-transform:uppercase;
				
			// 	letter-spacing:.1em;
			// 	line-height:1;
				
			// 	@media screen and (min-width:$laptop){
			// 		//font-size:$base-font-size *3;
			// 	}
				
				
			// }
			.subtitle{
				//color:rgba(255,255,255,.6);
				//font-family:'freight-text-pro',georgia,times,serif;
				
				letter-spacing:.01em;
				font-weight:300;
				margin-top:0;
				-webkit-font-smoothing:antialiased;
				
				@media screen and (min-width:$laptop){
					//font-size:$base-font-size *1.5;
				}
			}	
		}
	}
	.meta{
		-webkit-font-smoothing:antialiased;
		position:absolute;
		left:0;
		bottom:0;
		//float:left;
		padding:0;
		z-index:2;
		@media screen and (min-width:$desktop){
			//position:absolute;
			//width:em(200);
			//top:0;
			//right:5%;
		}
		.author{
			@extend %clearfix;
			//font-family: 'freight-text-pro',georgia, serif;
			font-size:$base-font-size;
			color:$grey;
			p{
				//margin-bottom:0;
				font-size:1em!important;
			}
			a{	
				color:rgba(255,255,255,.9);
				text-decoration:none;
				@include transition-tenth-sec;
				padding:.5rem 1rem;
				img{
					width:3.25em;
					display:inline-block;
					vertical-align:middle;
					margin:0 $spacing-unit /2 0 auto;
					border-radius:50%;
					//border:5px solid $off-white;
				}
				.name{
					@include transition-tenth-sec;
					box-shadow: transparent 0 0 0;
				}
				&:hover{
					.name{
						color:$white;
						box-shadow: $white 0 2px 0;
					}
				}
				&:active{
					background-color:rgba(0,0,0,.25);
					//box-shadow: $smoke 0 5px 0;
				}
			}
		}
	}
	.tags{
		@extend %clearfix;
		position:absolute;
		bottom:1.25em;
		right:0;
		//float:right;
		font-family:$sans-bold;
		list-style:none;
		margin:0;
		li{
			float:left;
			padding:0;
			margin:0 $spacing-unit /2 0 0;
			a{
				display:block;
				margin:$spacing-unit /4 0;
				text-decoration:none;
				color:$white;
				//border:2px solid $grey-light;
				padding:.25rem;
				font-size:$small-font-size;
				text-transform:uppercase;
				//line-height:1.5;
				letter-spacing:.01rem;
				@include transition-tenth-sec;
				@include transition-ease-in;
				@include transition-ease-out;
				&:before{
					//display:block;
					content:'#';
					//color:$grey-light;
				}
				&:hover{
					//border-color:$brand-color;
					color:$brand-color;
					//color:$white;
					box-shadow: $brand-color 0 2px 0;
				}
				&:active{
					//border-color:$grey-dark;
					//background-color:$grey-dark;
				}
				
			}
		}
	}
	.share{
		@extend %clearfix;
		//text-align:center;
		font-size:$small-font-size;
		font-weight: 600;
		//color:$grey-dark;
		text-transform:uppercase;
		letter-spacing:.1em;
		@extend %vertical-rhythm;
		span, a{
			float:left;
			@include transition-tenth-sec;
		   	color:$grey;
			color:rgba(0,0,0,.5);
			margin:0;
			padding:0 .75em .5em  0;
			svg{
				font-size:1.25em;
				color:$grey;
			}
			&:hover{
				svg{
					color:$grey-dark;
				}
				
			}
		}
	}
	.categories{
		position:absolute;
		top:0;
		left:0;
		z-index:10;
		padding:$spacing-unit /2;
		margin:0;
		list-style:none;
	}	
	.post-content{
		margin-top:80vh;
		background-color:$background-color;
		//font-size:22px;
		position:relative;
		font-weight:400;
		//max-width:100%;
		padding:$spacing-unit /2;
		background-color:$white;
		word-wrap: break-word;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		letter-spacing:0.005rem;
		
			img{
				max-width:(em(1200));
				margin-bottom:$spacing-unit;
			}
			
			.photoset{
				padding:0;
				margin:0 0 2rem;
				@extend %clearfix;
				@media screen and (min-width:$phablet){
					margin:0 -1rem 2rem;
				}
				div,img{
					width:100%;
					max-width:100%;
					margin:0 0 1em;
				}
				
				@media screen and (min-width:$phablet){
					&.two, &.four, &.six, &.eight, &.ten{
						div,img{
							float:left;
							margin:0!important;
							padding:0;
							width:50%;
						}
					}
				}
				@media screen and (min-width:$laptop){
					&.six, &.nine{
						div,img{
							float:left;
							margin:0!important;
							padding:0;
							width:33.33%;
						}
					}
				}
				@media screen and (min-width:$jumbotron){
					&.eight{
						div,img{
							width:25%;
						}
					}
					&.ten{
						div,img{
							width:20%;
						}
					}
				}
			}


			blockquote{
				max-width:(em(908));
				margin-left:auto;
				margin-right:auto;
			}
			p, figure{
				max-width:(em(700));
				margin-top:0;
				margin-left: auto;
				margin-right: auto;
				@media screen and (min-width:$laptop){
					//font-size:18px;
					//max-width:(em(500));
				}
			}
			
			.fluid-width-video-wrapper{
				max-width:(em(1200));
				margin:0 auto $spacing-unit /2;
			}
	}
	section{
		
		img{
			//margin-bottom:$spacing-unit;
		}
		p{}
	}
	
	footer{
		position:relative;
		background-color:$off-white;
		text-align:center;
		margin:0;
		padding:0;
		section.comments{
			//max-height:0;
			//overflow:hidden;
			//opacity:0;
			@extend %clearfix;
			&.show{
				//max-height:none;
				//overflow:auto;
				//opacity:1;
			}
		}
	}
}
.pagination{
	@extend %clearfix;
	width:100%;
	border-top:1px solid $grey-light;
	clear:both;
	
	a.next-up{
		@include full-bleed-background;
		color:$white;
		display:block;
		position:relative;
		//float:left;
		//width:50%;
		text-decoration:none;
		text-align:center;
		padding:$spacing-unit *2 0;
		//background-color:lighten($grey-light, 20%);
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		>*{
			position:relative;
			z-index:2;
		}
		&:before{
			position:absolute;
			content:' ';
			display:block;
			z-index:1;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background-color:rgba(0,0,0,.25);
		}
		
		&:hover{
			//color:$brand-color;
		}
		&:active{
			//color:$black;
			background-color:$grey-light;
		}
		.icon-left, .icon-right{
			vertical-align:-.25rem;
			margin:0 $spacing-unit /2;
			@include transition-tenth-sec;
			//@include transition-ease-out;
			//@include transition-ease-in;
		}
	}
	.prev{
		//text-align:left;
		&:hover{
			.icon-left{
				margin:0 1.5rem 0 .5rem;
			}
		}
	}
	.next{
		//text-align:right;
		border-left:1px solid $grey-light;
		&:hover{
			.icon-right{
				margin:0 .5rem 0 1.5rem;
			}
		}
	}
	
}



/*
 *
 * Product Post
 *
 */
.breadcrumb{
	ul{
		@extend %clearfix;
		font-size:$small-font-size;
		li{
			float:left;
			padding:1em 0;
			
			&:after{
				content:'>';
				color:$grey-light;
			}
			a{
				padding:0 .5em;
				color:$grey;
			}
			&:last-child{
				
				&:after{
					content:'';
				}
				a{
					color:$black;
					text-decoration:underline;
				}
			}
		}
		
	}
}

article.product{
	@media screen and (min-width:$laptop){
		margin-top:-3.25rem;
	}
	
	position:relative;
	background-color:$white;
	background-color:#f7f7f7;
	float:none;
	padding:0;
	margin:0;
	h6.price{
		margin-top:-1em;
		font-size:1em;
		color:$grey-light;

	}
	.product-slider{
		//overflow:hidden;
		.slick-slide{
			background-color:#f7f7f7;
			background-blend-mode:multiply;
			min-height:100vh;
		}
		.slick-dots{
			position:fixed;
			//margin:.5rem 0;
		}
		.slick-prev, .slick-next{
			position:fixed;
			
			color:$grey;
		}
	}
	header{
		padding:$spacing-unit 0;
		display:flex;
		display:-webkit-flex;
		flex-direction:column;
		-webkit-flex-direction:column;
		justify-content:space-around;
		.featured-image{
			background:#f7f7f7;
			img{
				mix-blend-mode:multiply;
			}
		}
		.product-info{order:1;}
		.featured-image{order:2;}
		.product-actions{order:3;}
		.size-chart-link{order:4;}
		@media screen and (min-width:$laptop){
			-webkit-flex-direction: row;
			flex-direction:row;
			flex-wrap:wrap;
			align-items:center;
			justify-content:center;
			.product-info{order:1;}
			.featured-image{order:2;}
			.product-actions{order:3;}
			.size-chart-link{
				order:4;
				min-width:100%;
			}
			.featured-image{
				padding:$spacing-unit/2 0;
			}
			.product-info{
				padding-left:$spacing-unit *2;
				padding-right:0;
			}
			.product-actions{
				padding-right:$spacing-unit *2;
				padding-left:0;
			}
		}
		section, div, aside{
			margin:0;
			padding:$spacing-unit/2 $spacing-unit;
		}
	}
	.product-info{
		-webkit-flex:1;
		flex:1;
		h2{
			line-height:1;
			color:$black;
			font-weight:bold;
			margin-bottom:2em;
			@media screen and (min-width:$laptop){
				font-size:2em;
			}
		}
		p{
			font-size:$small-font-size;

		}
	}
	.featured-image{
		-webkit-flex:4;
		flex:4;
		img{
			//position:absolute;
			//width:100%;
		}
		//position:absolute;
	}
	.product-actions{
		-webkit-flex:1;
		flex:1;
		float:none;
		
		#wishlist{
			background-color:$white;
			box-shadow:inset 0px 0px 2px $grey;
			&:active{
				background-color:$grey;
			}
		}
		#add-to-cart{
			@extend %clearfix;
			//font-size:10px;
			padding: 1em 1.5em;
			@include transition-bounce;
			&:hover{
				transform:scale(1.1);
				-webkit-transform:scale(1.1);
				-moz-transform:scale(1.1);
				-ms-transform:scale(1.1);
				box-shadow:0 0 0 2px $brand-color-secondary;
			}
		}	
	}
	#product-selections{
		select{
			display:block;
			background-color:$grey-dark;
			height:3em;
			color:$white;
			border:none;
			min-width: 8.5em;
			outline:none;
		}
	}
	.sizing{
		clear:both;
		text-align:center;
		cursor:pointer;
	}

	
}
div.back-link-container{
	position:absolute;
	top:3.75em;
	left:0.5em;
	z-index:5;
}
#back-to-shop{
	display:block;
	font-size:10px;
	color:$grey-light;
	text-decoration:none;
	padding:.5em;
}


.related-products{
	@extend %clearfix;
	max-width:100%;
	clear:both;
	padding:$spacing-unit /2 0;
	background-color:$white;
	text-align:center;
	ul{
		@extend %clearfix;
		list-style-type:none;
		margin:0;
		li{
			float:left;
			width:50%;
			@media screen and (min-width:$tablet){
				width:25%;
			}
		}
	}
}
.shop-footer{
	background-color:#1c1c1c;
	color:$grey-light;
	font-size:$small-font-size;
	padding:$spacing-unit;
	@extend %clearfix;
	div.shipping{
		float:left;
		p{
			margin-bottom:0;
		}
	}
	.payment{
		float:right;
		margin:0;
		@extend %clearfix;
		dd{
			float:left;
			padding:0 $spacing-unit/2 0;
		}
	}
}
.size-chart-link{
	text-align:center;
	//position:absolute;
	//bottom:4em;
	//left:0;
	//right:0;
}
.open-size-chart{
	cursor:pointer;
	margin-bottom:0;
	color:$grey;
	//margin-bottom:4em;
}
.size-chart{
	position:fixed;
	top:100%;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	display:flex;
	display:-webkit-flex;
	background-color:$white;
	@include transition-tenth-sec;
	@include teo;
	&.open{
		top:0;
		opacity:1;
		z-index:999;
	}
	
	.close-size-chart{
		position:absolute;
		top:0;
		left:0;
		padding:1em;
		cursor:pointer;
	}
	.size-chart-float{
		margin:auto;
		padding:1em;
	}
}

