/*
 * Layout
 */


/*
 * Includes
 */

body{
	//margin-top:2.75em;
	margin-top:2.25em;
	@media screen and (min-width:$phablet){
		margin-top: 3.25em;
	}
}
/* =========================== Header */
#header{
	@extend %clearfix;
	position:fixed;
	top:0;
	width:100%;
	z-index:998;
	background-color:$white;
	background-color:rgba(255,255,255,1);	 
	font-family:$base-font-family;
	font-weight:600;	
	font-size:12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
	text-transform:uppercase;
	letter-spacing:.1em;
	text-align:center;
	padding:.5em .5em;
	@include transition-tenth-sec;
	@include teo;
	&.closed{
		top:-4em;
	}
	a{
		text-decoration:none;
		color:$black;
	}
	&.scrolled{
		
		padding:.5em .5em;
		&:hover{
			opacity:1;
		}
		a{
			//color:$text-color;
		}
		#toggle{
			//padding:.5em .25em;
		}
		#cart{
			//padding:.5em .25em;
		}
	}

	#toggle{
		display:block;
		position:absolute;
		top:0;
		left:0;
		z-index:1000;
		width:6em;
		padding:.75em 1em;
		@media screen and (min-width:$phablet){
			padding:1.25em;
		}
		cursor:pointer;
		@include transition-tenth-sec;
		@include teo;
		span.menu{
			background:url(../img/UI/logos/menu-icon.png);
			background:url(../img/UI/logos/menu-icon.svg);
			@include full-bleed-background;
			line-height:1.875;
			float:left;
			width:2em;
			height:1.5em;
			//margin:.5em .25em;
		}
	}
	#logotype{
		padding:0;
		margin:0;
		letter-spacing:.05rem;
		span{
			font-size:$base-font-size ;
			margin:0;
			line-height:1.5;
			@media screen and (min-width:$phablet){
				font-size:$base-font-size *1.25;
				margin:0;
				line-height:2;
			}
		}
	}
	#cart{
		position:absolute;
		top:0;
		right:0;
		z-index:1000;
		//float:right;
		padding:.25em 1.5em;
		@media screen and (min-width:$phablet){
			padding:.8em 2.25em;
		}
		@include transition-tenth-sec;
		@include teo;
		#shop-link{
			position:relative;
			line-height:2rem;
			background-color:$brand-color-secondary;
			color:$white;
			font-weight:700;
			padding:.25em 1em;
			
			&:before{
				//display:block;
				//position:absolute;
				//right:-1.25em;
				//top:-.15em;
				//content:' ';
				//background-image:url(../img/UI/nav/monkey.png);
				//@include full-bleed-background;
				//width:1.85em;
				//height:1.85em;
			}
		}
		
		#cart-link{

			display:none;
			//display:block;
			//float:left;
			//float:right;
			//line-height:;
			@extend %clearfix;
			padding:0;
			margin:.25em 0;
			color:$grey-dark;
			border:1px solid #cccccc;
			@include round-corners;
			overflow:hidden;
			span{
				display:block;
				float:left;
			}
			.cart{
				padding:.25em .5em;
			}
			.total{
				background-color:#e5e5e5;
				padding:.25em .5em;

			}

			&:hover{
				//background-color:$brand-color-secondary;
				//color:$white;
				@include transition-tenth-sec;
				@include teo;
			}
			
			span.count{
				font-size:1rem;
				line-height:1;
				padding:0 .75em 0 0;
				vertical-align:-.05em;
				
			}
			span.icon-cart{
				letter-spacing:0;
				padding:0 .25em;
				vertical-align:-.1em;
				//display:none;
			}
		}
	}
	
}

.logo-subtitle{
	position:fixed;
	top:0;
	width:100%;
	text-align:center;
	font-size:$small-font-size;
	//color:$white;
	color:$black;
	font-family:$sans-regular;
	letter-spacing:.25em;
	margin-top:3.25em;
	z-index:999;
	@include transition-tenth-sec;
	@include teo;
	&.scrolled{
		opacity:0;
		margin-top:2em;
	}
}
/* =========================== Navigation */
#primary{
	@extend %clearfix;
	padding:0;
	text-transform:uppercase;
	letter-spacing:.05em;
	font-family:$sans-bold;
	font-size:$base-font-size;
	&.fixed{
		@include transition-tenth-sec;
		@include transition-ease-out;	
		position:fixed;
		top:100%;
		bottom:0;
		left:0;
		right:0;
		z-index:-1;
		opacity:0;		
		color:$grey-dark;
		transform:scale(.9);
	}		
	&.open{
		@include transition-ease-out;
		background-color:$white;
		background-color:rgba(255,255,255,.95);
		position:fixed;
		top:0;
		bottom:0;
		opacity:1;
		z-index:1000;
		overflow-y:scroll;
		transform:scale(1);
	}
	&.scrolled{
		#close-primary{
			padding:.5rem;
		}
		#social-nav{
			padding:.5rem .5rem;
		}
	}
	#close-primary{
		position:fixed;
		top:0;
		left:0;
		padding:.5em;
		width:1em;
		height:1.5em;
		cursor:pointer;
		text-align:center;
		z-index:1;
		@include transition-tenth-sec;
		//width:4.5em;
		span.icon-close{
			font-size:1.5rem;
			
			line-height:1;
			//margin-left:.2em;
			//vertical-align:middle;
		}
		span.close-text{
			font-family:$sans-regular;
			font-size:.75rem;
			line-height:1;
			vertical-align:.25em;
			//float:left;
			
		}
		&:hover{
			color:$black;
		}
	}
	#close-primary-hidden{
		cursor: not-allowed;
		position:absolute;
		top:0;
		bottom:0;
		width:100%;
		z-index:0;
		z-index:-1;
	}
	#page-nav{
	
		@include transition-tenth-sec;
		@include teo;
		text-align:left;
		z-index:1;
		@extend %clearfix;
		width:100%;
		max-width:(em(600));
		margin:$spacing-unit *4 auto $spacing-unit;
		padding:0;
		@media screen and (min-width:$desktop){
			
			//max-width:(em(125));
		}
		//&:before, &:after{
		//	@include pseudo-block;
		//	top:0;
		//	bottom:0;
		//	cursor:pointer;
		//}
		//&:before{
		//	left:0;
		//}
		//&:after{
		//	right:0;
		//}
		
		li{	
			font-size:$base-font-size *4;	
			padding: 0;
			margin:0;
			line-height:1;
			//text-align:center;
			a{
				font-family:$sans-bold;
				font-weight: 800;
				font-size:$base-font-size *3;
				color:rgba(0,0,0,1);
				display:block;
				margin:0;
				padding:0 .5em;
				@include transition-quarter-sec;
				@include teo;
				&:hover{
					background:url(../img/UI/nav/static.gif) repeat;
					-webkit-background-clip: text;
					background-clip:text;
					
					color:$black;
					color:rgba(0,0,0,0);
					
					//-webkit-mask-image: url(../img/UI/nav/static.gif);
					//	 -o-mask-image: url(../img/UI/nav/static.gif);
					//   -moz-mask-image: url(../img/UI/nav/static.gif);
					//	    mask-image: url(../img/UI/nav/static.gif);
						   //text-shadow: 0px 0px 30px rgba(30, 28, 28, 0.6);}
					
					//transform:scale(1.2);
					//letter-spacing:.1em;
					@include teo;
				}
				@media screen and (min-width:$tablet){
					font-size:$base-font-size *5;
				}
			}
		}		
	}
	#social-nav{
		position:fixed;
		top:0;
		right:0;
		
		font-size:$small-font-size;
		padding:.5em 1em;
		z-index:1;
		li{
			float:left;
			width:auto;
		}
		a{
			display:block;
			padding:.25em 1em;
			span{
				font-size:1.5em;
			}
			&:before, &:after{
				
			}
			&:hover{
				box-shadow:0px 2px 0 0 $black;
				//text-decoration:underline;
			}
		}
	}	
	#search{
		display:block;
		@extend %clearfix;
		width:100%;
		//max-width:(em(520));
		width:100%;
		max-width:(em(600));
		padding:0;
		margin:0 auto;
		position:relative;
		font-size:$base-font-size;
		input[type="text"]{
			font-size:3em;
			//width:100%;
			margin:0 1em;
			padding:0;
			border-bottom:1px solid black;
			//padding:0 $spacing-unit;
			//margin:1em 5%;
		}
		&:hover{
			input[type="submit"]{
				//opacity:1;
			}
		}
		input[type="submit"]{
			font-size:1.5em;
			opacity:0;
			padding:1em;
			color:$grey;
			position:absolute;
			right:0;
			top:0;
			
			background-color:rgba(0,0,0,0);
			&:hover{
				color:$black;
			}
		}
	}
}
/* =========================== Footer */
#footer{
	display:none;
	background-color:$grey-dark;
	color:$grey-light;
	padding:$spacing-unit ;
	text-align:center;
	clear:both;
	#newsletter{
		//width:33%;
		input{
			-webkit-box-sizing:border-box;
		}
		input[type=text]{
			color:$white;
			border:1px solid $grey;
			vertical-align:bottom;
		}
		input[type=submit]{
			color:$black;
			//border:1px solid $black;
		}
		@media screen and (min-width: $laptop){
			width:33%;
			float:left;
		}
	}
	#signature{
		span{
			font-size:6rem;
		}
		@media screen and (min-width: $laptop){
			width:33%;
			float:left;
		}
	}
	#social-links{
		a{
			display:block;
			float:left;
			text-align:center;
			margin:$spacing-unit /6 0 0 0;
			padding:$spacing-unit /4 0;
			width:50%;
			color:$grey-light;
			text-decoration:none;
			&:hover{
				color:$white;
			}
		}
		@media screen and (min-width: $laptop){
			width:33%;
			float:left;
		}
	}
	#copyright{
		color:$grey;
		padding:$spacing-unit 0 0 0;
		width:100%;
		clear:both;
	}
}

/*
 *
 * Index
 *
 */

/* =========================== Home Featured Post */

#home-header{
	position:fixed;
	top:0;
	bottom:0;
	overflow:hidden;
	z-index:-1;
	background-color:$off-white;
	width:100%;
	height:100vh;
	//position:relative;
	//margin-top:4em;
	display:flex;
	display:-webkit-flex;
	@include full-bleed-background;
	&:after{
		@include pseudo-mask;
		//background-color:rgba(0,0,0,.25);
		background:linear-gradient(0deg, black, transparent);
	}
	section{
		margin:auto;
	}
	margin:0 0 $spacing-unit 0;
	padding:0;
	
	a.post-title{
		display:block;
		position:relative;
		z-index:2;
		text-align:center;
		margin:75vh auto auto;
		max-width:(em(300));
		color:$white;

		h1{
			box-shadow:0 0 0 2px $white;
			font-size:1em;
			letter-spacing:.25em;
			font-weight:800;
			text-transform:uppercase;
			margin:1em auto;
		}
		p.subtitle{

			//font-size:100%;
		}
		&:hover{
			//box-shadow:0 5px 0 0 $white;
		}
	}
	div{
		//margin:0;
		//padding:0;
		//width:100%;
		div{
			//width:100%;
			//max-width:100%;
			//margin:0 auto;
			//float:none;
			
		}
	}
	.permalink{
		clear:both;
		display:block;
		background-color:$white;
		margin:0 auto;
		padding:0;
		width:70%;
		box-shadow:0 2px 4px rgba(0,0,0,.25);
		h3{
			display:block;
			padding:$spacing-unit /2 $spacing-unit;
			margin:0;
			font-size:1.5em;
		}
		p{
			margin:0;
		}
	}
}
.featured-caption{
	position:absolute;
	right:0;
	bottom:0;
	color:$white;
	cursor:pointer;
	text-decoration:none;
	padding:$spacing-unit/2;
	.icon-launch{
		font-size:1rem;
	}
}
/* =========================== Filters List */
.filters{
	@extend %clearfix;
	text-align:center;
	padding:.25rem $spacing-unit /2;
	margin:0;
	dt, dd, li{
		//float:left;
		padding:.5rem .5rem;
		margin:0 .5rem;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		//border:1px solid black;
		@include transition-tenth-sec;
		font-size:$small-font-size;
		font-family:$sans-regular;
		text-transform:uppercase;
		letter-spacing:.05em;
	}
	dt{
		color:$grey;
		display:none;
	}
	dd, li{
		color:$grey-dark;
		cursor:pointer;
		//float:left;
		display:inline-block;
		&:hover{
			//color:$brand-color-secondary;
			box-shadow: $grey-dark 0 4px 0;
		}
		&:active{
			color:$black;
			box-shadow: $black 0 5px 0;
		}
	}
}
/* =========================== Post Grid */
#home-posts{
	@extend %clearfix;
	z-index:500;
	background-color:$off-white;
	padding: 0;
	margin-top:100vh;
}

.posts{
	position:relative;
	@extend %clearfix;
	clear:both;
	margin:0 auto;
	padding:0;
	list-style:none;
	li{
		
		float:left;
		//background-color:blue;
		width:100%;
		padding:0;
		position:relative;
		
		// VERTICAL ASPECT RATIO SPACING
		&:before{
		    display:block;
			content:' ';
			padding:0 0 56.25%;
			background-color:rgba(0,0,0,.25);
			margin:0;
			@include teo;
			@include transition-tenth-sec;
		}
		
		&:hover{
			&:before{
				background-color:rgba(0,0,0,.5);
			}
			
		}
		
		@media screen and (min-width:$tablet) {
			width:50%;
			&:nth-of-type(5){
				width:100%;
			}
		}
		@media screen and (min-width:$laptop) {
			width:33.333%;
			&:nth-of-type(5){
				width:33.333%;
			}
		}
		@media screen and (min-width:$desktop) {
			// width:25%;
		}
//		@media screen and (min-width:$jumbotron) {
//			width:20%;
//		}
//		@media screen and (min-width:(em(2400))) {
//			width:16.6667%;
//		}
		@include full-bleed-background;
		
		//WRAP POST AREA BG WITH LINK
		a.permalink{
			    text-decoration:none;
			    position:absolute;
				top:0;
				bottom:0;
				padding:0;
				width:100%;
				display:block;
				display:flex;
				z-index:1;		
			h3{
				@include transition-tenth-sec;
				@include teo;
				margin: auto;
				text-align:center;
				padding:.5em 1.5em;
				letter-spacing:.1em;
				color:$white;
				//opacity:.5;
				font-size:1em;
				//background-color: rgba(0,0,0,.25);
				box-shadow:0 0 0 2px  rgba(255,255,255,.5);
			}
			&:hover{
				h3{
					box-shadow:0 0 0 2px  rgba(255,255,255,1);
					//background-color:$smoke;
					//box-shadow:0 0 0 5px $smoke;
				}
			}
		}
		// CONTRIBUTOR INFO & TAGS
		.contributor{
			
		}
		.tags{
			//display:none;
		}
		.author{
			display:none;
			position:absolute;
			left:.5rem;
			bottom:.5rem;
			z-index:2;
			opacity:0;
			padding:0;
			margin:0;
			img{
				position:relative;
				width:2em;
				border-radius:50%;
				vertical-align:bottom;
				margin:0;
			}
			&:hover{
				img{
					//box-shadow: 0 0 0px 2px $white;
				}
			}
		}	
		&:hover{
			@include teo;
			img{
				@include transition-tenth-sec;
				@include teo;
				transform:scale(1.05);
    
			}
			.author, .tags{
				opacity:1;
			}
		}
		.tags{
			display:none;
			position:absolute;
			right:.5rem;
			bottom:.5rem;
			z-index:2;
			opacity:0;
			@include transition-tenth-sec;
			font-family:$sans-regular;
			
			a{
				float:left;
				padding:0 0 0 1em;
				color:$white;
				opacity:.8;
				&:hover{
					opacity:1;
					text-decoration:underline;
				}
			}
		}
		
	}
	//li{
		//@extend %clearfix;
		//position:relative;
		
	//list-style-type:none;
	////float:left;
	//margin: 0;
	//padding:0;
	//width:100%;
	//text-align:center;
	//display:block;
	//background-color:blue;
	//box-sizing:border-box;
	//border:5px solid transparent;
	//
	//@media screen and (min-width:$tablet) {
	//	width:50%;
	//}
	//@media screen and (min-width:$laptop) {
	//	//&:nth-of-type(1){width:50%}
	//	//&:nth-of-type(2){width:50%}
	//	width:33.333%;
	//}
	//@media screen and (min-width:$jumbotron) {
	//	width:20%;
	//}
	//@include full-bleed-background;
		//figure{
		//	display:block;
		//	//display:flex;
		//	//display:-webkit-flex;
		//	position:relative;
		//	padding:0;
		//	margin:0;
		//	border:none;
		//	background-color:$white;
		//	//box-shadow:0 2px 4px 0 rgba(0,0,0,.35);
		//	overflow:hidden;
		//	
		//	@include transition-tenth-sec;
		//	@include teo;
		//	
		//	&:after{
		//		//content:' ';
		//		//display: block;
		//		//position:absolute;
		//		//top: 60%;
		//		//width:100%;
		//		//bottom: 0;
		//		////background-color:$black;
		//		//z-index:1;
		//		//opacity:1;
		//		//background: linear-gradient(0deg, rgba(0,0,0,.5), transparent);
		//		
		//	}
		//	>a{
		//		position:relative;
		//		z-index:0;
		//		padding:0;
		//		padding-top:65%;
		//		//border-top:1px solid red;
		//		img{
		//			position:absolute;
		//			top:0;
		//			@include transition-tenth-sec;
		//		}
		//	}	
		//	.author{
		//		position:absolute;
		//		left:1em;
		//		bottom:5em;
		//		z-index:2;
		//		opacity:0;
		//		img{
		//			position:relative;
		//			width:3em;
		//			border-radius:50%;
		//			
		//		}
		//		&:hover{
		//			img{
		//				//box-shadow: 0 0 0px 2px $white;
		//			}
		//		}
		//	}
		//	
		//	
		//	&:hover{
		//		@include teo;
		//		img{
		//			@include transition-tenth-sec;
		//			@include teo;
		//			transform:scale(1.05);
        //
		//		}
		//		//
		//		//box-shadow:0 4px 6px 0 rgba(0,0,0,.35);
		//		.author, .tags{
		//			//opacity:1;
		//		}
		//	}
		//	.tags{
		//		position:absolute;
		//		right:1em;
		//		bottom:6em;
		//		z-index:2;
		//		opacity:0;
		//		@include transition-tenth-sec;
		//		font-family:$sans-regular;
		//		
		//		a{
		//			float:left;
		//			padding:0 0 0 1em;
		//			color:$white;
		//			opacity:.8;
		//			&:hover{
		//				opacity:1;
		//				text-decoration:underline;
		//			}
		//		}
		//	}
		//	figcaption{
		//		//margin:auto;
		//		position:absolute;
		//		bottom:0;
		//		left:0;
		//		right:0;
		//		background-color:$white;
		//		z-index:3;
		//		text-align:center;
		//		a{
		//			margin:0;
		//			padding:0;
		//			text-decoration:none;
		//			//text-align:center;
		//			h3{
		//				//-webkit-font-smoothing: antialiased;
		//				//-moz-osx-font-smoothing: grayscale;
		//				margin:0;
		//				padding:0;
		//				font-size:1.5em;
		//				color:$white;
		//				
		//			    &:after{
		//					//font-family: 'Suffoca-Icons';
		//			    	//content:'\e095';
		//					//display:block;
		//					//float:right;
		//			    }
		//			}
		//		}
		//	}
		//}
		
		
		
		h6{
			//color:$black;
			//margin:1em 0;
			//border:5px solid $white;
			//z-index:2;
			//display:inline-block;
		    //padding:1rem 2rem;
			//color:$white;
			//margin:$spacing-unit *4 $spacing-unit /2;
			text-decoration:none;
		}
		
		a{
			@include transition-tenth-sec;
			@include transition-ease-out;
			@include transition-ease-in;		
			position:relative;
			padding:.5rem 2rem;
			display:block;
			//width:100%;
			//opacity:.5;

		}

		&:hover{			
			a{
				//opacity:1;
				//background-color:$smoke;
				h6{
					//opacity:1;
				}
			}
		}
		//}
}
/* =========================== Pagination / Loading */
#load{
	display:block;
	text-align:center;
	margin:$spacing-unit *2 auto;
	//padding:1em;
	
}










.title{
	text-transform:uppercase;
	margin:1em 0 0 0;
}
.subtitle{
	//text-transform:uppercase;
	font-size:$base-font-size;	
	button{
		//background-color:transparent;
		//background-color:rgba(255,255,255,0);
		color:$white;
		//box-shadow:0 0 0 2px $white;
		&:hover{
			//background-color:rgba(255,255,255,1);
			//box-shadow:0 0 0 5px $white;
			//color:$black;
		}
	}
}

/*
 *
 * Shop View
 *
 */

#shop-header{
	@include full-bleed-background;
	@extend %clearfix;
	//height:300px;
	color:$white;
	text-align:center;
	padding:$spacing-unit;
	section{
		cursor:pointer;
	}
	h1{
		text-transform:uppercase;
		line-height:1;
		
	}
	@media screen and (min-width:$desktop){
		//background-size:50%;
		//background-position:0 50%;
		//background-color:$grey-dark;
		//section{
		//	h1{
		//		margin:.5em 0 0 0;
		//	}
		//	width:50%;
		//	float:right;
		//}
	}
}

#shop-intro{
	font-size:$small-font-size;
	color:$black;
	max-width: (em(1200));
	margin:0 auto;
	padding:$spacing-unit;
	@media screen and (min-width:$tablet){
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
            -moz-column-fill: balance;
       column-fill: balance;
	}
	&:after{
		content:"\e607";
		font-family:"Suffoca-Icons";
		float:right;
		font-size:2em;
		color:$black;
	}

}

#lookbook-modal{
	&.fixed{
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:100%;
		background-color:$black;
		z-index:-1;
		opacity:0;
		padding:0;
		@include transition-tenth-sec;
		@include teo;
		//margin:1em;
		z-index:999;
		color:$white;
		#lookbook{
			visibility:hidden;
			max-height:0;
		}		
	}
	&.open{
		opacity:1;
		bottom:0;
		#lookbook{
			visibility:visible;
			max-height:100%;
		}
	}
	.lookbook-title{
		position:fixed;
		top:0;
		left:0;
		right:0;
		padding:0 1em;
		text-align:center;
	}
	.close-lookbook{
		position:fixed;
		bottom:0;
		left:3em;
		right:3em;
		text-align:center;
		cursor:pointer;
	}
	.prev, .next{
		position:fixed;
		bottom:0;
		width:1em;
		padding:0 1em;
		cursor:pointer;
	}
	.prev{
		left:0;
	}
	.next{
		right:0;
	}
}
.shop-categories{
	@extend %clearfix;
	padding:0;
	font-size:$small-font-size;
	//float:left;
	//width:20%;
	margin:0 0 0 0;
	background-color:$white;
	//border-bottom:1px solid $black;
	//text-align: center;
	dt{
		color:$grey;
	}
	dt{ display:none;
		padding:$spacing-unit /6 $spacing-unit;}
	dd{
		//display:inline-block;
		float:left;
		padding:$spacing-unit /2 ;
		text-transform:uppercase;
		cursor: pointer;
		ul{
			list-style:none;
			margin:0;
			opacity:.5;
			li{
				
			}
		}
	}
	.subcat{
		@include transition-tenth-sec;
		
	}
	.subcat.close{
		 opacity:0;
		 //height:0;
		 //clip:auto;
	     border: 0;
	     clip: rect(0 0 0 0);
	     height: 1px;
	     margin: -1px;
	     overflow: hidden;
	     padding: 0;
	}
	
}

.products{
	
	@extend %clearfix;
	list-style:none;
	margin:0;
	padding:0;
	
	li{
		float:left;
		width:100%;
		@media screen and (min-width:$tablet){
			width:50%;
		}
		@media screen and (min-width:$laptop){
			width:33.333%;
		}
		@media screen and (min-width:$jumbotron){
			width:25%;
		}		
		&:hover{
			a{
				//background-color:$brand-color;
				
			}
			h6, .price{
				
				//color:$brand-color;
			}
			img{
				transform:scale(1);
			}
		}
		img{
			@include transition-tenth-sec;
			@include teo;
			width:100%;
			//height:100%;
			//padding:1em;
			transform:scale(.9);
		}
		a{	
			@include transition-tenth-sec;
			@include teo;
			position:relative;
			background-color:$white;
			display:block;
			text-decoration:none;
			padding:$spacing-unit /4;
			margin:0;
			text-align:center;
			//display:flex;
		}
		//h6{
		//	//position:absolute;
		//	bottom:0;
		//	left:0;
		//	right:0;
		//	//width:100%;
		//	text-align:center;
		//	//margin:auto;
		//	margin:0;
		//	color:$grey-dark;
		//	font-family:$sans-bold;
		//	font-size:$base-font-size;
		//	//-webkit-font-smoothing: antialiased;
		//	&:before{
		//		@include pseudo-block;
		//		width:20%;
		//		left:40%;
		//		right: 40%;
		//		bottom:4em;
		//		border-top:1px solid $off-white;
		//	}
		//}
		//p.price{
		//	//font-family:$sans-regular;
		//	font-size:$small-font-size;
		//	margin:0;
		//	color:$grey;
		//}
	}
}



/*
 *
 * Category View
 *
 */



/*
 *
 * Contributor View
 *
 */

.clubhouse{
	margin:4em 0 0 0;
	ul{
		text-align:center;
		margin:0 auto;
		text-align:center;
		li{
			//float:left;
			display:inline-block;
			a{
				display:block;
				//padding:1em;
				&.active{
					box-shadow:0px 3px 0 0 $brand-color;
				}
			}
		}
	}
}

.contributor{
	header{
		@extend %clearfix;
		text-align:center;
		.profile{
			display:block;
			//float:left;
			margin:$spacing-unit auto;
			width:em(150);
			@extend %perfect-circle;
			//overflow:hidden;
		}
		margin:$spacing-unit *2 0;
	}
	h3{
		text-align:center;
		color:$grey;
	}
	.posts{
		li{
			a{
				
			}
		}
	}
}



/*
 *
 * Regular Post
 *
 */


article.post{
	
	small{
		text-align:center;
		display:block;
		margin:0 auto;
		color:$grey-light;
		
	}
	position:relative;
	header.post-header{
		position:fixed;
		top:0;
		bottom:0;
		overflow:hidden;
		height:100vh;
		-webkit-font-smoothing:antialiased;
		display:flex;
		display:-webkit-flex;
		width:100%;		
		@include full-bleed-background;
		text-align:center;
		padding:0;
		background-color:$grey-dark;
		color:$white;
		color:rgba(255,255,255,1);
      
		&:after{
			@include pseudo-mask;
			background-color:rgba(0,0,0,.25);
		}
		.post-title{
			margin:auto;
			@extend %clearfix;
			position:relative;
			z-index:1;
			//bottom:0;
			//left:0;
			padding:$spacing-unit *2 $spacing-unit;
			
			.date{
				display:none;
				font-family:$sans-bold;
				//display:block;
				letter-spacing:.1em;
				font-size:1em;
				margin:$spacing-unit  auto;
			}
			.title{
				//font-size:$base-font-size *4;
				//color:$white;
				margin:$spacing-unit /2 0;
				text-transform:uppercase;
				
				letter-spacing:.1em;
				line-height:1;
				
				@media screen and (min-width:$laptop){
					font-size:$base-font-size *3;
				}
				
				
			}
			.subtitle{
				//color:rgba(255,255,255,.6);
				//font-family:'freight-text-pro',georgia,times,serif;
				
				letter-spacing:.01em;
				font-weight:300;
				margin-top:0;
				-webkit-font-smoothing:antialiased;
				
				@media screen and (min-width:$laptop){
					font-size:$base-font-size *1.5;
				}
			}	
		}
	}
	.meta{
		-webkit-font-smoothing:antialiased;
		position:absolute;
		left:0;
		bottom:0;
		//float:left;
		padding:0;
		z-index:2;
		@media screen and (min-width:$desktop){
			//position:absolute;
			//width:em(200);
			//top:0;
			//right:5%;
		}
		.author{
			@extend %clearfix;
			//font-family: 'freight-text-pro',georgia, serif;
			font-size:$base-font-size;
			color:$grey;
			p{
				//margin-bottom:0;
				font-size:1em!important;
			}
			a{	
				color:rgba(255,255,255,.9);
				text-decoration:none;
				@include transition-tenth-sec;
				padding:.5rem 1rem;
				img{
					width:3.25em;
					display:inline-block;
					vertical-align:middle;
					margin:0 $spacing-unit /2 0 auto;
					border-radius:50%;
					//border:5px solid $off-white;
				}
				.name{
					@include transition-tenth-sec;
					box-shadow: transparent 0 0 0;
				}
				&:hover{
					.name{
						color:$white;
						box-shadow: $white 0 2px 0;
					}
				}
				&:active{
					background-color:rgba(0,0,0,.25);
					//box-shadow: $smoke 0 5px 0;
				}
			}
		}
	}
	.tags{
		@extend %clearfix;
		position:absolute;
		bottom:1.25em;
		right:0;
		//float:right;
		font-family:$sans-bold;
		list-style:none;
		margin:0;
		li{
			float:left;
			padding:0;
			margin:0 $spacing-unit /2 0 0;
			a{
				display:block;
				margin:$spacing-unit /4 0;
				text-decoration:none;
				color:$white;
				//border:2px solid $grey-light;
				padding:.25rem;
				font-size:$small-font-size;
				text-transform:uppercase;
				//line-height:1.5;
				letter-spacing:.01rem;
				@include transition-tenth-sec;
				@include transition-ease-in;
				@include transition-ease-out;
				&:before{
					//display:block;
					content:'#';
					//color:$grey-light;
				}
				&:hover{
					//border-color:$brand-color;
					color:$brand-color;
					//color:$white;
					box-shadow: $brand-color 0 2px 0;
				}
				&:active{
					//border-color:$grey-dark;
					//background-color:$grey-dark;
				}
				
			}
		}
	}
	.share{
		clear:both;
		//text-align:center;
		font-size:$small-font-size;
		font-weight: 600;
		color:$grey-dark;
		text-transform:uppercase;
		letter-spacing:.1em;
		@extend %vertical-rhythm;
		//font-size:$base-font-size;
		a{
			&:first-of-type{
				clear:left;
			}
			@include transition-tenth-sec;
		   	color:$grey-dark;
			color:rgba(0,0,0,.8);
			margin:0 0 0 .5em;
				span{
					font-size:1em;
				}
				&:hover{
					color:$grey;
				}
		}
	}

	.categories{
		position:absolute;
		top:0;
		left:0;
		z-index:10;
		padding:$spacing-unit /2;
		margin:0;
		list-style:none;
	}
	
	.post-content{
		margin-top:90vh;
		background-color:$background-color;
		//font-size:22px;
		position:relative;
		font-weight:400;
		//max-width:100%;
		padding:$spacing-unit /2;
		background-color:$white;
		word-wrap: break-word;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		letter-spacing:0.005rem;
		
			img{
				max-width:(em(1200));
				margin-bottom:$spacing-unit;
			}
			
			.photoset{
				margin:0 0 2rem;
				padding:0;
				width:100%;
				@extend %clearfix;
				div,img{
					float:left;
					margin:0!important;
					padding:0;
					width:100%;
					max-width:100%;
				}
				&.two, &.four, &.eight, &.ten{
					div,img{
						width:50%;
					}
				}
			}


			blockquote{
				max-width:(em(800));
				margin-left:auto;
				margin-right:auto;
			}
			p, figure{
				max-width:(em(700));
				margin-top:0;
				margin-left: auto;
				margin-right: auto;
				@media screen and (min-width:$laptop){
					//font-size:18px;
					//max-width:(em(500));
				}
			}
			
			.fluid-width-video-wrapper{
				max-width:(em(1200));
				margin:0 auto $spacing-unit /2;
			}
	}
	section{
		
		img{
			//margin-bottom:$spacing-unit;
		}
		p{}
	}
	

//	.contributor-links{
//		list-style:none;
//		margin:0;
//		li{
//			float:left;
//			padding:0;
//			margin:0;
//		}
//		a{
//			text-decoration:none;
//			box-shadow:none;
//			color:$grey;
//			&:hover{
//				color:$grey-dark;
//			}
//			&:active{
//				color:$black;
//			}
//			&:visited{
//				color:$grey-light;
//			}
//		}
//	}
//
	
	footer{
		position:relative;
		background-color:$off-white;
		text-align:center;
		margin:0;
		padding:0;
		section.comments{
			//max-height:0;
			//overflow:hidden;
			//opacity:0;
			@extend %clearfix;
			&.show{
				//max-height:none;
				//overflow:auto;
				//opacity:1;
			}
		}
	}
}
.pagination{
	@extend %clearfix;
	width:100%;
	border-top:1px solid $grey-light;
	clear:both;
	
	a.next-up{
		@include full-bleed-background;
		color:$white;
		display:block;
		position:relative;
		//float:left;
		//width:50%;
		text-decoration:none;
		text-align:center;
		padding:$spacing-unit *2 0;
		//background-color:lighten($grey-light, 20%);
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		>*{
			position:relative;
			z-index:2;
		}
		&:before{
			position:absolute;
			content:' ';
			display:block;
			z-index:1;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background-color:rgba(0,0,0,.25);
		}
		
		&:hover{
			//color:$brand-color;
		}
		&:active{
			//color:$black;
			background-color:$grey-light;
		}
		.icon-left, .icon-right{
			vertical-align:-.25rem;
			margin:0 $spacing-unit /2;
			@include transition-tenth-sec;
			//@include transition-ease-out;
			//@include transition-ease-in;
		}
	}
	.prev{
		//text-align:left;
		&:hover{
			.icon-left{
				margin:0 1.5rem 0 .5rem;
			}
		}
	}
	.next{
		//text-align:right;
		border-left:1px solid $grey-light;
		&:hover{
			.icon-right{
				margin:0 .5rem 0 1.5rem;
			}
		}
	}
	
}



/*
 *
 * Product Post
 *
 */
.breadcrumb{
	ul{
		@extend %clearfix;
		font-size:$small-font-size;
		li{
			float:left;
			padding:1em 0;
			
			&:after{
				content:'>';
				color:$grey-light;
			}
			a{
				padding:0 .5em;
				color:$grey;
			}
			&:last-child{
				
				&:after{
					content:'';
				}
				a{
					color:$black;
					text-decoration:underline;
				}
			}
		}
		
	}
}

article.product{
	background-color:$white;
	background-color:#f7f7f7;
	float:none;
	//width:auto;
	padding:0;
	margin:0;
	overflow:hidden;
	
	h6.price{
		font-size:1em;
		color:$grey;

	}
	.product-slider{
		div{
			background-color:#f7f7f7;
			background-blend-mode:multiply;
		}
	}
	header{
		padding:$spacing-unit 0;
		display:flex;
		display:-webkit-flex;
		flex-direction:column;
		justify-content:space-around;
		.featured-image{
			background:#f7f7f7;
			img{
				mix-blend-mode:multiply;
			}
		}
		.product-info{order:2;}
		.featured-image{order:1;}
		.product-actions{order:3;}
		@media screen and (min-width:$laptop){
			flex-direction:row;
			align-items:center;
			.product-info{order:1;}
			.featured-image{order:2;}
			.product-actions{order:3;}
			.featured-image{
				padding:$spacing-unit/2 0;
			}
			.product-info{
				padding-left:$spacing-unit *2;
				padding-right:0;
			}
			.product-actions{
				padding-right:$spacing-unit *2;
				padding-left:0;
			}
		}
		section, div, aside{
			margin:0;
			padding:$spacing-unit/2 $spacing-unit;
		}


	}
	.product-info{
		flex:1;
		h2{
			line-height:1;
			color:$black;
			@media screen and (min-width:$laptop){
				font-size:2em;
			}
		}
		p{
			font-size:$small-font-size;

		}
		//@media screen and (min-width:$laptop){
		//	float:left;
		//	width:25%;
		//	padding:$spacing-unit ;
		//	max-width:(em(300));
		//}
	}
	.featured-image{
		flex:4;
		img{
			//position:absolute;
			//width:100%;
		}
		//position:absolute;
	}
	.product-actions{
		flex:1;
		float:none;
		
		#wishlist{
			background-color:$white;
			box-shadow:inset 0px 0px 2px $grey;
			&:active{
				background-color:$grey;
			}
		}
		#add-to-cart{
			&:hover{
				//transform:scale(1.1);
				box-shadow:0 0 0 4px $brand-color-secondary;
			}
		}
		
	}
	#product-selections{
		select{
			background-color:$grey-dark;
			height:3em;
			color:$white;
			border:none;
			width:30%;
		}
	}

	#product-images{
		//width:100%;
		//position:relative;	
		//	img{
		//		max-width:(em(700));
		//		margin:0 auto;
		//	}
		//h6{
		//	text-align:center;
		//}
		//.button{
		//	display:inline-block;
		//	width:1em;
		//	height:1em;
		//	border-radius:1em;
		//	margin:0 $spacing-unit /4;
		//	background-color:$grey;
		//	cursor:pointer;
		//	&:hover{
		//		color:$brand-color;
		//	}
		//	&:active{
		//		color:$black;
		//	}
		//}
		//.prev{
		//	//left:0;
		//}
		//.next{
		//	//right:0;
		//}
	}

	.sizing{
		clear:both;
		text-align:center;
		cursor:pointer;
	}
	.product-detail-images{
		//border:1px solid red;
	}
	
}

//section.related-products{
//	margin:$spacing-unit auto;
//	
//	h3{
//		text-align:center;
//	}
//	ul{
//		li{
//			width:50%;
//			@media screen and (min-width:$tablet){
//				width:25%;
//			}
//		}
//	}
//}

.related-products{
	@extend %clearfix;
	max-width:100%;
	clear:both;
	padding:$spacing-unit /2 0;
	background-color:$white;
	text-align:center;
	ul{
		@extend %clearfix;
		list-style-type:none;
		margin:0;
		li{
			float:left;
			width:50%;
			@media screen and (min-width:$tablet){
				width:25%;
			}
		}
	}
}
.shop-footer{
	background-color:#1c1c1c;
	color:$grey-light;
	font-size:$small-font-size;
	padding:$spacing-unit;
	@extend %clearfix;
	div.shipping{
		float:left;
		p{
			margin-bottom:0;
		}
	}
	.payment{
		float:right;
		margin:0;
		@extend %clearfix;
		dd{
			float:left;
			padding:0 $spacing-unit/2 0;
		}
	}
}
.open-size-chart{
	cursor:pointer;
	margin-bottom:0;
	color:$grey;
}
.size-chart{
	position:fixed;
	top:100%;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	display:flex;
	display:-webkit-flex;
	background-color:$white;
	@include transition-tenth-sec;
	@include teo;
	&.open{
		top:0;
		opacity:1;
		z-index:999;
	}
	
	.close-size-chart{
		position:absolute;
		top:0;
		left:0;
		padding:1em;
		cursor:pointer;
	}
	.size-chart-float{
		margin:auto;
		padding:1em;
	}
}

