/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "reset";
@import "variables";
@import "typography";
@import "layout";
@import "modules";



body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
	background-color:$off-white;
	//background-size:cover;	
	//background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
	//background-repeat: repeat-y;
	//background-size: 100% 1rem;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
	display:block;
    width: 100%;
	max-width:em(1200);
	margin:0 auto $spacing-unit /2;
    vertical-align: middle;
}
img.half{
	@extend %vertical-rhythm;
	width:100%;
	@media screen and (min-width:$tablet){
		float:left;
		width:50%;
	}
}
img.half+img{
	//margin-top:0;
}
img+h1, img+h2, img+h3{
	//margin-top:1em;
}
img+p{
	//margin-top:0;
}
p+img{
	
}





/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h1, h3{
	font-family:$sans-bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
h2, h4, h5, h6{
	font-family:$sans-regular;
}

.title{
	font-family:$sans-bold;
}
.subtitle{
	font-family:$sans-regular;
}
h1{
	text-transform:uppercase;
	font-size:$base-font-size *2;
	@media screen and (min-width:$phablet) {
		
	}
	@media screen and (min-width:$tablet) {
		font-size:$base-font-size *4;
	}
	@media screen and (min-width:$desktop) {
		font-size:$base-font-size *6;
	}
}
h2{
	//text-align:center;
	font-size:$base-font-size *1.5;
	@media screen and (min-width:$tablet) {
		font-size:$base-font-size *2;
	}
	@media screen and (min-width:$desktop) {
		font-size:$base-font-size *4;
	}
}
h3{
	font-size:$base-font-size;
	text-transform:uppercase;
	letter-spacing:.05em;
	font-weight:800;
	margin-top:$spacing-unit;
	//border-top: 1px solid $grey-light;
	@media screen and (min-width:$tablet) {
		
	}
	@media screen and (min-width:$desktop) {
		
	}
}
h4{
	font-size:1em;
	font-weight:600;
}
h5{
	font-size:1em;
	font-weight:600;
}
h6{
	font-weight:800;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-size:.9em;
}

/**
 * Links
 */

//a {
//    color: $black;
//    text-decoration: underline;
//	//border-bottom: 1px dotted $brand-color;
//    &:visited {
//		text-decoration:line-through!important;
//    }
//    &:hover {
//        color: $text-color;
//    }
//	&:visited{
//
//	}
//}

/**
 * Blockquotes
 */
//blockquote {
//	font-family:georgia,times,serif;
//    color: $grey;
//    //border-left: 4px solid $grey-light;
//    //padding-left: $spacing-unit / 2;
//    font-size: 1.5em;
//    text-align:center;
//	letter-spacing: .01em;
//    font-style: italic;
//	@media screen and(min-width:$desktop){
//		//margin:1em -25%;
//	}
//    > :last-child {
//        margin-bottom: 0;
//    }
//}



/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//Layout Variables

%max-width-content-block{
	max-width:(em(700));
	margin-left: auto;
	margin-right: auto;
	width:90%;
	padding-left:5%;
	padding-right:5%;
}

//Device Border
%device{
	display:block;
	border:1em solid black;
	border-radius:1em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	margin:2em auto;
	box-sizing: border-box;
	width:80%;
	@media screen and (min-width:$tablet){
		border:3em solid black;
		border-radius:3em;
		-webkit-border-radius:3em;
		-moz-border-radius:3em;
	}
}
.device{
	max-width:(em(1200));
	@extend %device;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}