// MODULES - These are chunks of code reused throughout the site.

/*
 *
 * Global Elements
 *
 */

/* - - - - - - - - - - - - - - - Typographic */
.post-title{
	display:block;
	position:relative;
	z-index:2;
	text-align:center;
	padding-top:3em;
	margin:auto;
	max-width:(em(300));
	color:$white;
	
	p.subtitle{
		//font-size:100%;
	}
	&:hover{
		//box-shadow:0 5px 0 0 $white;
	}
}

h1.title{
	box-shadow:0 0 0 2px $white;
	font-size:1em;
	letter-spacing:.25em;
	font-weight:800;
	text-transform:uppercase;
	margin:1em auto;
}


/* =========================== Navigation */ 
header, nav{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	ul{
		font-family:$sans-regular;
		list-style-type:none;
		margin:0;
		padding:0;
		li{
			margin:0;
		}
	}
	a{
		color:$grey-medium-dark;
		text-decoration:none;
		@include transition-tenth-sec;
		@include teo;
		&:hover, &:active{
			color:$black;
		}
	}
}

/* =========================== Lists */ 
ul{
	@extend %clearfix;
}

/* =========================== Links */ 
a{
  color:$brand-color;
	&:hover{
		color:$grey-dark;
	}
	
	&:active{
		color:$black;
	}
	
	&:visited{
		color:$grey-dark;
	}
}

/* =========================== Buttons and Inputs */ 

hr{
	margin:$spacing-unit /2 0;
	//border-color:$grey-light;
	color:$grey-light;
	border-top:none;
	border-left:none;
	border-right:none;
	border-top:1px solid $grey-light;
	//background-color:$grey-light;
}
form{
	font-family:$sans-regular;	
}
input{
	font-family:$sans-regular;	
	margin:1em 0;
	outline:none;
	padding:1em 0;
	//height:2em;
	font-size:1em;
}

input[type="text"] {
//width: 60%;
background: none;
border:none;
//border-bottom: 1px solid $black;
}

input[type="submit"], .inline-button {
color: white;
padding: 1em;
text-align:center;
//width:25%;
text-decoration: none;
//border-radius: 4px;
font-weight: 700;

}
//^ These are old

//Newer Below

form#email-subscribe{
	text-align:center;
	margin:0;
	padding:$spacing-unit 0;
	background-color:$black;
	color:$grey;
	h6{
		color:$white;
		font-size:$small-font-size;
		margin-bottom:0;
	}
	#email{

		font-size:$small-font-size;
		padding:1em;
		min-width:(em(300));
		box-shadow:inset 0 0 0 2px $grey-dark;
		color:$grey-light;
		
		::-webkit-input-placeholder {
		   color: $grey;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $grey;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $grey;  
		}

		:-ms-input-placeholder {  
		   color: $grey;  
		}
	}
	#submit{
		//box-shadow:1px  $grey-light;
		background-color:$white;
		color:$grey;
		&:hover{
			//background-color:$brand-color-secondary;
			color:$black;
		}
	}
}

button, input[type=submit]{
	font-family:$sans-bold;	
	font-size:$small-font-size;
	background-color:$brand-color-secondary;
	//background-color:$black;
	color:$white;
	text-transform:uppercase;
	letter-spacing:.15em;
	
	//box-shadow:0 2px 4px 0 rgba(0,0,0,.35);
	
	border:none;
	//border-bottom:1px solid $black;
	outline:none;
	cursor:pointer;

	&:active{
		//color:$white;
		//background-color: darken($brand-color, 10%);
	}
	@include transition-tenth-sec;
}

button{
	//@include round-corners;
	padding:$spacing-unit /2 $spacing-unit /1.5 ;
	margin:$spacing-unit;
	box-sizing:border-box;
	//border:2px solid transparent;
	background-color:rgba(0,0,0,.25);
	&:hover{
		//background-color: lighten($brand-color, 10%);
		background-color:$smoke;
		box-shadow:0 0px 0px 5px $smoke;
		color:$white;
		
	}
	&:active{
		//background:linear-gradient(0deg, darken($brand-color,20%),  $brand-color );
		//border-top:2px solid black;
		
		//border-left:2px solid black;
	}
	
}

/* =========================== Forms and Labels */
label {
    float: left;
    text-align: right;
    margin-right: 1em;
    //width:(em(100));
}

//Posts
.fluid-width-video-wrapper{
	margin-bottom:$spacing-unit;
}
header{
	.fluid-width-video-wrapper{
		margin-bottom:0;
	}
}



//Full Screen / Vertical Centering / Featured Posts
.full-screen, .full-width{
    display: -webkit-flex;
    display: flex;
	position:relative;
	width:100%;
	min-height:(em(600));
	text-align:center;
	margin:0 0 $spacing-unit/2 0;
	z-index:1;
	@include full-bleed-background;
	>section{
		margin: auto;
		//@media screen and (min-width:$phablet){
		//	margin:auto;
		//}
		//width:60%;
		max-width:(em(800));
		padding:$spacing-unit $spacing-unit $spacing-unit /2;
		border:5px solid $white;
		color:$white;
		background-color:$smoke;
		
		position:relative;
		z-index:3;
		display:block;
		overflow:hidden;
		h1{
			.icon-suffoca{
				font-size:$base-font-size *8;
			}
		}
		h1,h6{
			//position:relative;
			//z-index:3;
		}
		&:after{
			//-webkit-filter:blur(10px);
			//background-size:246%;
			//background-position:center 23%;
			//background-image:url(../img/content/adventures/paris_01.jpg);
			//z-index:0;
			//display:block;
			//content:" ";
			//top:0;
			//right:0;
			//left:0;
			//bottom:0;
			//position:absolute;
			//display:block;
		}
			
	}
	
}
.section-blur-bg{
	position:absolute;
	z-index:2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	filter:blur(20px);
	-webkit-filter:blur(20px);
}


.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px;
}
.vertically-centered {
  margin: auto;
}

// Articles, Text Content
article{
	//width:100%;
	//float:left;
	//max-width:(em(900));
	header{
		width:100%;
		padding:1em;
	}
	section{
		padding:1em;
		//max-width:(em(560));
		margin:0 auto;
		font-weight:300;
	}
	@media screen and (min-width:(em(800))){
		
	}
}


//INSTAFEED

.instawrap{
	display:flex;
	display:-webkit-flex;
	overflow-x:scroll;
	overflow-y:hidden;
	background-color:$white;
	&:before{
		content:' ';
		display:block;
		padding:0 0 56.25%;
	}

	@media screen and (min-width:$laptop){
		float:left;
		width:50%;
	}
	
	div.insta-content{
		margin:auto;
		padding-top:$spacing-unit*2.5;
	}

	.instatitle{
		font-size:$small-font-size;
		text-align:center;
		color:$grey-light;
		margin:$spacing-unit 0;
		a{
			color:$grey;
			@include transition-tenth-sec;
			text-decoration:none;
			&:hover{
				color:$grey-dark;
			}			
		}
	}
	#instafeed{
		@extend %clearfix;
		//width:100%;
		padding:0 $spacing-unit;
		img{
			float:left;
			width:29.333%;
			padding:0 2%;
			margin:0;
			@include transition-tenth-sec;
		}
		a{
			&:hover{
				img{
					opacity:.8;
				}
			}
		}
	}
}

.video-module{
	background-color:$black;
	width:100%;
	position:relative;

	@media screen and (min-width:$laptop){
		float:left;
		width:50%;
	}
	&:before{
		content:' ';
		display:block;
		padding:0 0 56.25%;
	}

	.background-video{
		position:absolute;
		display:block;
		top:0;
		width:100%;
		height: 100%;
		bottom:0;
		left:0;
	}

}



// SLICK SLIDER

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    width:100%;
    min-height: 90vh;
    @include full-bleed-background;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}














// Swipe Classes
.swipe {
  overflow:hidden;
  visibility:hidden;
  position:relative;
  .prev, .next{
  	//position:absolute;
  	//bottom:1em;
  	//width:10%!important;
  	text-align:center;
  }
  .prev{
  	//left:0;
  }
  .next{
  	//right: 0;
  }
}
.swipe-wrap {
  overflow:hidden;
  position:relative; 
}
.swipe-wrap > div {
  position:relative;
  float:left;
  width:100%;
  background-color:$black;
  .fluid-width-video-wrapper{
	  max-width:(em(1200));
  	  margin:0 auto;
  }
  .image{
	  @include full-bleed-background;
	 &:after{
		 content:' ';
		 display:block;
		 padding-top: 56.2719812426729%;
	 }
  }
}

.loader{
	text-align:center;
	padding:$spacing-unit /2 0;
	display:block;
	width:100%;
	background-color:$white;
	background:url(../img/UI/nav/loading_ride.jpg);
	@include full-bleed-background;
	color:$grey-light;
	img{
		width:5em;
		margin:0 auto;
	}
}

// Responsive Nav Styles

/*! responsive-nav.js v1.0.15 by @viljamis */

//#nav ul {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  display: block;
//  list-style: none;
//}
//
//#nav li {
//  width: 100%;
//  display: block;
//}

.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#info-1.opened {
  max-height: 9999px;
  padding:0 0 6em 0;
}

.expand {
	font-weight:bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
}

a.closed {
	transition:2s;
  
}

a.opened {
	display:block;
	font-size:1.1em;
	
	/* Safari */
	-webkit-transform: rotateY(-180deg);
	-webkit-transform: rotateZ(-45deg);

	/* Firefox */
	-moz-transform: rotateZ(-45deg);

	/* IE */
	-ms-transform: rotateZ(-45deg);

	/* Opera */
	-o-transform: rotateZ(-45deg);

}
