// MODULES - These are chunks of code reused throughout the site.

/*
 *
 * Global Elements
 *
 */

/* =========================== Navigation */ 
header, nav{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	ul{
		font-family:$sans-regular;
		list-style-type:none;
		margin:0;
		padding:0;
		li{
			margin:0;
		}
	}
	a{
		color:$black;
		text-decoration:none;
	}
}

/* =========================== Lists */ 
ul{
	@extend %clearfix;
}

/* =========================== Links */ 
a{
  color:$brand-color;
	&:hover{
		color:$grey-dark;
	}
	
	&:active{
		color:$black;
	}
	
	&:visited{
		color:$grey-dark;
	}
}

/* =========================== Buttons and Inputs */ 

hr{
	margin:$spacing-unit /2 0;
	//border-color:$grey-light;
	color:$grey-light;
	border-top:none;
	border-left:none;
	border-right:none;
	border-top:1px solid $grey-light;
	//background-color:$grey-light;
}
form{
	font-family:$sans-regular;	
}
input{
	font-family:$sans-regular;	
	margin:1em 0;
	outline:none;
	padding:1em 0;
	//height:2em;
	font-size:1em;
}

input[type="text"] {

width: 60%;
background: none;
border:none;
border-bottom: 1px solid $black;
//border-radius: 4px;
//padding: 1em 5%;
//-webkit-transition: border-color 0.2s;
//-moz-transition: border-color 0.2s;
//transition: border-color 0.2s;
}

input[type="submit"], .inline-button {
color: white;
padding: 1em;
text-align:center;
//width:25%;
text-decoration: none;
//border-radius: 4px;
font-weight: 700;

}
//^ These are old

//Newer Below

button, input[type=submit]{
	font-family:$sans-bold;	
	font-size:1em;
	background-color:$white;
	//background-color:$black;
	color:$black;
	text-transform:uppercase;
	letter-spacing:.15em;
	
	//box-shadow:0 2px 4px 0 rgba(0,0,0,.35);
	
	border:none;
	//border-bottom:1px solid $black;
	outline:none;
	cursor:pointer;

	&:active{
		//color:$white;
		//background-color: darken($brand-color, 10%);
	}
	@include transition-tenth-sec;
}

button{
	//@include round-corners;
	padding:$spacing-unit /2 $spacing-unit /1.5 ;
	margin:$spacing-unit;
	box-sizing:border-box;
	//border:2px solid transparent;
	background-color:rgba(0,0,0,.25);
	&:hover{
		//background-color: lighten($brand-color, 10%);
		background-color:$smoke;
		box-shadow:0 0px 0px 5px $smoke;
		color:$white;
		
	}
	&:active{
		//background:linear-gradient(0deg, darken($brand-color,20%),  $brand-color );
		//border-top:2px solid black;
		
		//border-left:2px solid black;
	}
	
}

/* =========================== Forms and Labels */
label {
    float: left;
    text-align: right;
    margin-right: 1em;
    //width:(em(100));
}

//Posts
.fluid-width-video-wrapper{
	margin-bottom:$spacing-unit;
}
header{
	.fluid-width-video-wrapper{
		margin-bottom:0;
	}
}

//Full Screen / Vertical Centering / Featured Posts
.full-screen, .full-width{
    display: -webkit-flex;
    display: flex;
	position:relative;
	width:100%;
	min-height:(em(600));
	text-align:center;
	margin:0 0 $spacing-unit/2 0;
	z-index:1;
	@include full-bleed-background;
	>section{
		margin: auto;
		//@media screen and (min-width:$phablet){
		//	margin:auto;
		//}
		//width:60%;
		max-width:(em(800));
		padding:$spacing-unit $spacing-unit $spacing-unit /2;
		border:5px solid $white;
		color:$white;
		background-color:$smoke;
		
		position:relative;
		z-index:3;
		display:block;
		overflow:hidden;
		h1{
			.icon-suffoca{
				font-size:$base-font-size *8;
			}
		}
		h1,h6{
			//position:relative;
			//z-index:3;
		}
		&:after{
			//-webkit-filter:blur(10px);
			//background-size:246%;
			//background-position:center 23%;
			//background-image:url(../img/content/adventures/paris_01.jpg);
			//z-index:0;
			//display:block;
			//content:" ";
			//top:0;
			//right:0;
			//left:0;
			//bottom:0;
			//position:absolute;
			//display:block;
		}
			
	}
	
}
.section-blur-bg{
	position:absolute;
	z-index:2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	filter:blur(20px);
	-webkit-filter:blur(20px);
}


.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px;
}
.vertically-centered {
  margin: auto;
}

// Articles, Text Content
article{
	width:100%;
	float:left;
	//max-width:(em(900));
	header{
		width:100%;
		padding:1em;
	}
	section{
		padding:1em;
		//max-width:(em(560));
		margin:0 auto;
		font-weight:300;
	}
	@media screen and (min-width:(em(800))){
		
	}
}

//#sidebar{
//	width:100%;
//	@media screen and (min-width:(em(800))){
//		float:left;
//		max-width:(em(300));
//		padding:0 1em;
//	}
//}


// Swipe Classes
.swipe {
  overflow:hidden;
  visibility:hidden;
  position:relative;
  .prev, .next{
  	position:absolute;
  	bottom:1em;
  	//width:10%!important;
  	text-align:center;
  }
  .prev{
  	left:0;
  }
  .next{
  	right: 0;
  }
}
.swipe-wrap {
  overflow:hidden;
  position:relative; 
}
.swipe-wrap > div {
  position:relative;
  float:left;
  width:100%;
  background-color:$black;
  .fluid-width-video-wrapper{
	  max-width:(em(1200));
  	  margin:0 auto;
  }
  .image{
	  @include full-bleed-background;
	 &:after{
		 content:' ';
		 display:block;
		 padding-top: 56.2719812426729%;
	 }
  }
}

.loader{
	text-align:center;
	padding:$spacing-unit /2 0;
	display:block;
	width:100%;
	background-color:$off-white;
	color:$grey-light;
	img{
		width:1em;
		margin:0 auto;
	}
}

// Responsive Nav Styles

/*! responsive-nav.js v1.0.15 by @viljamis */

//#nav ul {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  display: block;
//  list-style: none;
//}
//
//#nav li {
//  width: 100%;
//  display: block;
//}

.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#info-1.opened {
  max-height: 9999px;
  padding:0 0 6em 0;
}

.expand {
	font-weight:bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
}

a.closed {
	transition:2s;
  
}

a.opened {
	display:block;
	font-size:1.1em;
	
	/* Safari */
	-webkit-transform: rotateY(-180deg);
	-webkit-transform: rotateZ(-45deg);

	/* Firefox */
	-moz-transform: rotateZ(-45deg);

	/* IE */
	-ms-transform: rotateZ(-45deg);

	/* Opera */
	-o-transform: rotateZ(-45deg);

}
