/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2cbcce");  
@font-face {
	font-family: 'Breakers-Regular';
	src: url('../fonts/2CBCCE_0_0.eot');
	src: url('../fonts/2CBCCE_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2CBCCE_0_0.woff2') format('woff2'),
		 url('../fonts/2CBCCE_0_0.woff') format('woff'),
		 url('../fonts/2CBCCE_0_0.ttf') format('truetype');}
@font-face {
	font-family: 'Breakers-Bold';
	src: url('../fonts/2CBCCE_1_0.eot');
	src: url('../fonts/2CBCCE_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2CBCCE_1_0.woff2') format('woff2'),
		 url('../fonts/2CBCCE_1_0.woff') format('woff'),
		 url('../fonts/2CBCCE_1_0.ttf') format('truetype');}
		 @font-face {
		 	font-family: 'Suffoca-Icons';
		 	src:url('../fonts/Suffoca-Icons.eot?-xdq23p');
		 	src:url('../fonts/Suffoca-Icons.eot?#iefix-xdq23p') format('embedded-opentype'),
		 		url('../fonts/Suffoca-Icons.woff?-xdq23p') format('woff'),
		 		url('../fonts/Suffoca-Icons.ttf?-xdq23p') format('truetype'),
		 		url('../fonts/Suffoca-Icons.svg?-xdq23p#Suffoca-Icons') format('svg');
		 	font-weight: normal;
		 	font-style: normal;
		 }

 [class^="icon-"], [class*=" icon-"] {
 	font-family: 'Suffoca-Icons';
	font-size:1.5rem;
	letter-spacing:.5rem;
 	speak: none;
 	font-style: normal;
 	font-weight: normal;
 	font-variant: normal;
 	text-transform: none;
 	line-height: 1;

/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {content: "\e602";}
.icon-vimeo:before {content: "\e603";}
.icon-facebook:before {content: "\f09a";}
.icon-google-plus:before {content: "\f0d5";}
.icon-youtube:before {content: "\f167";}
.icon-instagram:before {content: "\f16d";}
.icon-tumblr:before {content: "\f173";}
.icon-cart:before {content: "\e601";}
.icon-eye:before {content: "\e000";}
.icon-mail:before {content: "\e002";}
.icon-image:before {content: "\e010";}
.icon-camera:before {content: "\e017";}
.icon-play:before {content: "\e052";}
.icon-pause:before {content: "\e053";}
.icon-stop:before {content: "\e054";}
.icon-fast-forward:before {content: "\e055";}
.icon-download:before {content: "\e069";}
.icon-location:before {content: "\e070";}
.icon-location-2:before {content: "\e071";}
.icon-map:before {content: "\e072";}
.icon-tag:before {content: "\e085";}
.icon-left:before {content: "\e094";}
.icon-right:before {content: "\e095";}
.icon-up:before {content: "\e096";}
.icon-down:before {content: "\e097";}
.icon-max:before {content: "\e112";}
.icon-min:before {content: "\e113";}
.icon-plus:before {content: "\e114";}
.icon-minus:before {content: "\e115";}
.icon-close:before {content: "\e117";}
.icon-menu:before {content: "\e120";}
.icon-launch:before {content: "\e128";}
.icon-logo-face:before {content: "\e600";}
.icon-signature:before {content: "\e607";}
.icon-suffoca:before {content: "\e608";}




p.intro{
	font-size: 1.3333em; /* 20px */
	line-height: 1.2500em; /* 25px */
	margin-top: 1.2500em;  
	margin-bottom: 1.2500em;
	@media screen and (min-width:(em(800))){
		font-size: 1.5000em; /* 22.5px */
		line-height: 1.5em; /* 25px */
		margin-top: 1.1111em;  
	    margin-bottom: 1.1111em; 
	}
}


blockquote{
	font-family:'freight-text-pro',georgia,times,serif;
	font-style:italic; 
	font-weight:400; 
	color:$text-color;
	border-left:.25rem solid $brand-color;
	padding: 0 0 0 $spacing-unit;
	font-size:$base-font-size *1.5;
	margin-bottom:$spacing-unit !important;
	letter-spacing: 0.01rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	@media screen and (min-width:(em(800))){
		//font-size:$base-font-size *2;
	}
}



/**
 * Figures
 */

figure {
	display:block;
	background-color:$white;
	border-top:.25rem solid $white;
	border-left:.25rem solid $white;
	border-right:.25rem solid $white;
	box-shadow:0px 0px 1px $grey-light;
	margin:$spacing-unit auto;
	padding:0!important;
	img{
		margin:0!important;
		width:100%;
	}
	figcaption{
		font-family:'freight-text-pro',georgia,times,serif;
		letter-spacing: 0.01rem;
		//font-size: $small-font-size;
		color:$grey;
		display:block;
		margin:0;
		padding:$spacing-unit /2;
	}
	blockquote{
		border:none;
		padding:$spacing-unit /2;
		margin:0!important;
		color:$grey-dark;
	}
}

















