
// Typographic Variables
$base-font-family: 'Breakers-Regular', Helvetica, Arial, sans-serif;
$base-font-size:   1rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2rem;

//Color Variables
$text-color:       #444;
$background-color: #fdfdfd;
$brand-color:      #D6BE50;


$black: 		   #000;
$smoke: rgba(0,0,0,.75);
$grey:       	   #888888;
$grey-light: lighten($grey, 20%);
$grey-dark: #181818 ;/*darken($grey, 45%)*/
$white-dark:       #f9f9f9;
$white: 		   #FFF;

$red: #FF4000;
$green: #086100;

// Media Variables
$on-palm:          600px;
$on-laptop:        800px;

/* EMS ======= */

@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

$phone:(em(320));
$phablet:(em(500));
$tablet:(em(700));
$laptop:(em(1000));
$desktop:(em(1400));
$jumbotron:(em(2000));


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}





@mixin full-bleed-background{
background-position:50% 0;
background-size:cover;
background-repeat:no-repeat;
}

@mixin quarter-sec-trans{
-webkit-transition-duration: .25s;
-moz-transition-duration: .25s;
-ms-transition-duration: .25s;
-o-transition-duration: .25s;
transition-duration: .25s;
}

@mixin transition-tenth-sec {
	-webkit-transition-duration: .15s;
	-moz-transition-duration: .15s;
	-ms-transition-duration: .15s;
	-o-transition-duration: .15s;
	transition-duration: .15s;
}
@mixin transition-ease-out {
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
}
@mixin transition-ease-in {
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
}


@mixin half-sec-trans{
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
}

@mixin round-corners{
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
-ms-border-radius: .5em;
-o-border-radius: .5em;
border-radius:.5em;
}

@mixin drop-shadow{
-webkit-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-moz-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-ms-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-o-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
}
